<div class="contenedor">
  <app-encabezado [cku]="cku"></app-encabezado>

  <div class="row mt-1">
    <div class="col-12 ml-1">
      <!-- DATOS PARA GUIA DE RECEPCION  -->
      <div class="contenedorEnvaseSalida">
        <mat-card color="primary" class="titleEnvases">Control CKU</mat-card>
        <mat-card class="cardRecepcionLinea">

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="Especie">Especie</mat-label>
            <mat-select disabled="true" [(ngModel)]="ckuAsignar.cod_especie" name="cod_especie">
              <mat-option *ngFor="let esp of especies" [value]="esp.id">
                {{ esp.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="Variedad">Variedad</mat-label>
            <mat-select disabled="true" [(ngModel)]="ckuAsignar.cod_variedad" name="cod_variedad">
              <mat-option *ngFor="let variedad of variedades" [value]="variedad.id">
                {{ variedad.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
            <mat-select disabled="true" [(ngModel)]="ckuAsignar.cod_envase" name="cod_envase">
              <mat-option *ngFor="let env of envasesCosecha" [value]="env.id">
                {{ env.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Bultos</mat-label>
            <input disabled="true" [(ngModel)]="ckuAsignar.bultos" matInput disabled="true">
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Peso neto</mat-label>
            <input disabled="true" [(ngModel)]="ckuAsignar.peso_neto" matInput disabled="true">
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Promedio</mat-label>
            <input disabled="true" [(ngModel)]="ckuAsignar.promedio" matInput disabled="true">
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Folio CKU</mat-label>
            <input [disabled]="!asignarValida" [(ngModel)]="ckuAsignar.folio_cku" matInput>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="TipoDucha">Tipo ducha</mat-label>
            <mat-select [disabled]="!asignarValida" [(ngModel)]="ckuAsignar.cod_ducha" name="cod_ducha">
              <mat-option *ngFor="let ducha of tipoDuchas" [value]="ducha.id">
                {{ ducha.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="TipoFrio">Tipo frío</mat-label>
            <mat-select [disabled]="!asignarValida" [(ngModel)]="ckuAsignar.cod_frio" name="cod_frio">
              <mat-option *ngFor="let frio of tiposFrios" [value]="frio.id">
                {{ frio.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="Env. Cosecha">Cond. CKU</mat-label>
            <mat-select [disabled]="!asignarValida" [(ngModel)]="ckuAsignar.cod_condicion">
              <mat-option *ngFor="let cond of condsCKU" [value]="cond.id">
                {{ cond.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox [disabled]="!asignarValida" [checked]="ckuAsignar.pre_frio">
            Pre-frío
          </mat-checkbox>
          <!-- botones para cancelar y actualizar CKU -->
          <button *ngIf="asignarValida" (click)="cancelarLinea()" class="btn_cancelar ml-5" mat-button>
            Cancelar
          </button>
          <button *ngIf="asignarValida" (click)="actualizarLinea()" class="btn_actualizar" color="warn" mat-button>
            <mat-icon>check</mat-icon>
            Actualizar
          </button>
        </mat-card>

        <!-- TABLA GUIA DE RECEPCION -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="especie">
            <th mat-header-cell *matHeaderCellDef>Especie</th>
            <td mat-cell *matCellDef="let element">{{element.especie}}</td>
          </ng-container>

          <ng-container matColumnDef="variedad">
            <th mat-header-cell *matHeaderCellDef>Variedad</th>
            <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
          </ng-container>

          <ng-container matColumnDef="env_cosecha">
            <th mat-header-cell *matHeaderCellDef>Envase cosecha</th>
            <td mat-cell *matCellDef="let element">{{element.env_cosecha}}</td>
          </ng-container>

          <ng-container matColumnDef="bultos">
            <th mat-header-cell *matHeaderCellDef>Bultos</th>
            <td mat-cell *matCellDef="let element">{{element.bultos}}</td>
          </ng-container>

          <ng-container matColumnDef="peso_neto">
            <th mat-header-cell *matHeaderCellDef>Peso neto</th>
            <td mat-cell *matCellDef="let element">{{element.peso_neto}}</td>
          </ng-container>

          <ng-container matColumnDef="promedio">
            <th mat-header-cell *matHeaderCellDef>Promedio</th>
            <td mat-cell *matCellDef="let element">{{element.promedio}}</td>
          </ng-container>

          <ng-container matColumnDef="folio_cku">
            <th mat-header-cell *matHeaderCellDef>Folio CKU</th>
            <td mat-cell *matCellDef="let element">{{element.folio_cku}}</td>
          </ng-container>

          <ng-container matColumnDef="tipo_ducha">
            <th mat-header-cell *matHeaderCellDef>Tipo ducha</th>
            <td mat-cell *matCellDef="let element">{{element.tipo_ducha}}</td>
          </ng-container>

          <ng-container matColumnDef="tipo_frio">
            <th mat-header-cell *matHeaderCellDef>Tipo frío</th>
            <td mat-cell *matCellDef="let element">{{element.tipo_frio}}</td>
          </ng-container>

          <ng-container matColumnDef="cond_cku">
            <th mat-header-cell *matHeaderCellDef>Cond. CKU</th>
            <td mat-cell *matCellDef="let element">{{element.cond_cku}}</td>
          </ng-container>

          <ng-container matColumnDef="pre_frio">
            <th mat-header-cell *matHeaderCellDef>Pre frío</th>
            <td mat-cell *matCellDef="let element">{{ element.pre_frio ? 'Si':'No'}}</td>
          </ng-container>

          <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="asignarCKU(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Asignar CKU</span>
                </button>
                <button mat-menu-item (click)="abrirLote(element)">
                  <mat-icon><i class="fas fa-tags"></i></mat-icon>
                  <span>Abrir lote</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- botones flotantes -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/rec_cku']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab title="Guardar cambios" class="btn-add" color="warn" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>