.titulo{
    font-size: 14px;
}

.contenedorTabla{
    margin-top: 1em;
    justify-content: center;
    justify-items: center;
    font-size: 12px;
}

.table{
    max-width: 98vw;
    margin: auto;
    border: 1px solid rgb(180, 180, 180, 0.5);
}

.table tbody tr:hover{
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005); 
  transition: all .3s ease-in-out;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

.fa-check{
    color: green;
}
.fa-times{
    color: rgb(122, 41, 41);
}
