<h1 mat-dialog-title class="titulo">Detalle mantención última visita al vehículo con patente <strong> {{patente}} </strong> y con fecha <strong></strong></h1>
<h1 mat-dialog-title class="titulo">Usuario responsable última visita: <strong> {{responsable}} </strong></h1>
<hr>
<div mat-dialog-content class="text-center">
  <div class="contenedorTabla" *ngIf="!cargando">
    <p class="titulo" align="start"><i class="fas fa-check"></i> Se hizo:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Descripción actividad</th>
          <th scope="col">Responsable</th>
          <th scope="col">Valor</th>
          <th scope="col">Valor Actual</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let det_hizo of data_detalle_mantencion_listo">
          <td> {{ det_hizo.des_tarea.trim() }} </td>
          <td> {{ det_hizo.des_nombre_fichapersonal }} </td>
          <td> {{ det_hizo.num_valor_snapTareaActVehi }} </td>
          <td> {{ det_hizo.num_valor_snapTareaActVehi }} </td>
        </tr>
      </tbody>
    </table>
    <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
  </div>

  <div class="contenedorTabla" *ngIf="!cargando">
    <p class="titulo" align="start"><i class="fas fa-times"></i> No se hizo:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre actividad</th>
          <th scope="col">Motivo</th>
          <th scope="col">Observacion</th>
          <th scope="col">Valor</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let det_faltantes of data_detalle_mantencion_faltante">
            <td> {{ det_faltantes.des_Tarea }} </td>
            <td> {{ det_faltantes.des_causa.trim() }} </td>
            <td> {{ det_faltantes.des_observacion_logeliminacion }} </td>
            <td> {{ det_faltantes.precioactividad }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onNoClick()">Cerrar</button>
</div>

<br>
