.card{
  max-width: 35em;
}
.mat-menu-item{
  outline: none;
}

.mat-row:hover {
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005);
  transition: all .3s ease-in-out;
}

.mat-icon-button{
  bottom: 0.7em;
  float: right;
  background-color: rgb(235, 235, 235);
}

.mat-icon-button:focus{
  outline: none;
}

/*background de select*/
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white;
}
.select{
  font-size: 0.8em;
}

.btn-add{
  position: fixed;
  bottom: 3em;
  right: 1.5em;
  color: white;
  outline: none;
}
.btn-volver{
  position: fixed;
  bottom: 3em;
  left: 5.5em;
  color: white;
  outline: none;
}
