<div class="containerPrincipal">
    <!-- usuario -->
    <mat-card class="mt-3 card">
        <p class="d-inline">Rol:</p>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>file_copy</mat-icon>
                <span>Copiar desde rol</span>
            </button>
        </mat-menu>
    </mat-card>

    <!-- tabla de funcionalidades -->
    <div class="text-center mt-5">
        <mat-form-field class="mt-2 ml-2 select">
        <mat-label>Menú</mat-label>
        <mat-select
        placeholder="Seleccione Menu"
        [(value)]="_TipoMenu"
        [disabled]="bitEditar"
        (selectionChange)="doSomething($event.value)">
          <mat-option
          *ngFor="let item of DataSourceListaMenu"
          [value]="item.cod_menu_menu">{{ item.des_menu_menu }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!---select de menus -->
    <br>
    <!-- BUSCADOR -->
    <mat-form-field class="buscador">
      <mat-placeholder>
        <mat-icon>search</mat-icon> Buscador
      </mat-placeholder>
      <input matInput>
    </mat-form-field>

    <!-- TABLA  -->
    <table mat-table [dataSource]="DataSourceListaFuncionalidadMenu" class="mat-elevation-z8">
      <ng-container matColumnDef="ch1">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox>
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.ch1">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="dependencia" checkboxPosition="before">
        <th mat-header-cell *matHeaderCellDef> Dependencia </th>
        <td mat-cell *matCellDef="let element">{{element.dependencia}}</td>
      </ng-container>

      <ng-container matColumnDef="funcionalidad">
        <th mat-header-cell *matHeaderCellDef> Funcionalidad </th>
        <td mat-cell *matCellDef="let element">{{element.funcionalidad}}</td>
      </ng-container>

      <!-- check Agregar -->
      <ng-container matColumnDef="ch2">
        <th mat-header-cell *matHeaderCellDef>
          <mat-label>Agregar</mat-label>
          <br>
          <mat-checkbox>
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.ch2">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- check Editar -->
      <ng-container matColumnDef="ch3">
        <th mat-header-cell *matHeaderCellDef>
          <mat-label>Editar</mat-label>
          <br>
          <mat-checkbox>
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.ch3">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- check Borrar -->
      <ng-container matColumnDef="ch4">
        <th mat-header-cell *matHeaderCellDef>
          <mat-label>Borrar</mat-label>
          <br>
          <mat-checkbox>
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.ch4">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <!-- PAGINADOR DE TABLA -->
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>

    <!-- .tabla de funcionalidades -->


    <!-- boton volver -->
    <button mat-fab color="primary" title="Volver" class="btn-volver">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-fab color="warn" title="Guardar cambios" class="btn-add" (click)="guardar()">
        <mat-icon>check</mat-icon>
    </button>
</div>
