<br>
<div class="row">
    <div class="col-12">
        <span class="tituloTabla"><i class="fas fa-angle-double-right"></i> Trazabilidad </span>
    </div>
</div>
<hr>


<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

    <ng-container matColumnDef="temporada">
        <th mat-header-cell *matHeaderCellDef> Temporada </th>
        <td mat-cell *matCellDef="let element"> {{element.temporada}} </td>
    </ng-container>

    <ng-container matColumnDef="guia">
        <th mat-header-cell *matHeaderCellDef> Guía </th>
        <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
    </ng-container>

    <ng-container matColumnDef="lote">
        <th mat-header-cell *matHeaderCellDef> Lote </th>
        <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="zona">
        <th mat-header-cell *matHeaderCellDef> Zona </th>
        <td mat-cell *matCellDef="let element"> {{element.zona}} </td>
    </ng-container>

    <ng-container matColumnDef="cod_productor">
        <th mat-header-cell *matHeaderCellDef> Código productor </th>
        <td mat-cell *matCellDef="let element"> {{element.cod_productor}} </td>
    </ng-container>

    <ng-container matColumnDef="huerto">
        <th mat-header-cell *matHeaderCellDef> Huerto </th>
        <td mat-cell *matCellDef="let element"> {{element.huerto}} </td>
    </ng-container>

    <ng-container matColumnDef="guia_productor">
        <th mat-header-cell *matHeaderCellDef> Guía productor </th>
        <td mat-cell *matCellDef="let element"> {{element.guia_productor}} </td>
    </ng-container>

    <ng-container matColumnDef="cod_especie">
        <th mat-header-cell *matHeaderCellDef> Cod. Especie </th>
        <td mat-cell *matCellDef="let element"> {{element.cod_especie}} </td>
    </ng-container>

    <ng-container matColumnDef="especie">
        <th mat-header-cell *matHeaderCellDef> Especie </th>
        <td mat-cell *matCellDef="let element"> {{element.especie}} </td>
    </ng-container>

    <ng-container matColumnDef="patente">
        <th mat-header-cell *matHeaderCellDef> Patente </th>
        <td mat-cell *matCellDef="let element"> {{element.patente}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>


<br>
<br>


<mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Folios</ng-template>

            <!-- BUSCADOR -->
            <mat-form-field class="buscador" align="start">
                <mat-placeholder>
                    <mat-icon>search</mat-icon> Buscar...
                </mat-placeholder>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="foliobins">
                    <th mat-header-cell *matHeaderCellDef> Folio bins </th>
                    <td mat-cell *matCellDef="let element"> {{element.foliobins}} </td>
                </ng-container>

                <ng-container matColumnDef="kilos">
                    <th mat-header-cell *matHeaderCellDef> Kilos </th>
                    <td mat-cell *matCellDef="let element"> {{element.kilos}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                </ng-container>

                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="definicion()">
                                <mat-icon><i class="fas fa-info-circle"></i></mat-icon>
                                <span>Definición</span>
                            </button>

                            <button mat-menu-item (click)="ot_relacionada()">
                                <mat-icon><i class="fas fa-file-contract"></i></mat-icon>
                                <span>OT relacionada</span>
                            </button>

                            <button mat-menu-item (click)="despacho()">
                                <mat-icon><i class="fas fa-shipping-fast"></i></mat-icon>
                                <span>Despacho</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- PAGINADOR DE TABLA -->
            <mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
            <br>
            <br>
            <div class="row">
                <button mat-button matStepperNext color="primary">Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">

            <ng-template matStepLabel>OT's</ng-template>

            <mat-form-field class="buscador" align="start">
                <mat-placeholder>
                    <mat-icon>search</mat-icon> Buscar...
                </mat-placeholder>
                <input matInput (keyup)="applyFilter2($event.target.value)">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID OTE </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="cod">
                    <th mat-header-cell *matHeaderCellDef> Cód. packing </th>
                    <td mat-cell *matCellDef="let element"> {{element.cod}} </td>
                </ng-container>

                <ng-container matColumnDef="tipo_proceso">
                    <th mat-header-cell *matHeaderCellDef> Tipo proceso </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_proceso}} </td>
                </ng-container>

                <ng-container matColumnDef="nro">
                    <th mat-header-cell *matHeaderCellDef> Nro máquina </th>
                    <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
                </ng-container>

                <ng-container matColumnDef="tipo_frio">
                    <th mat-header-cell *matHeaderCellDef> Tipo frío </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_frio}} </td>
                </ng-container>

                <ng-container matColumnDef="variedad">
                    <th mat-header-cell *matHeaderCellDef> Variedad </th>
                    <td mat-cell *matCellDef="let element"> {{element.variedad}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
            <br>
            <br>
            <div class="row">
                <button mat-button matStepperPrevious color="primary">Volver a folios</button>
                <button mat-button matStepperNext color="primary">Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Despacho</ng-template>

        <mat-form-field class="buscador" align="start">
            <mat-placeholder>
                <mat-icon>search</mat-icon> Buscar...
            </mat-placeholder>
            <input matInput (keyup)="applyFilter3($event.target.value)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">

            <ng-container matColumnDef="nro_despacho">
                <th mat-header-cell *matHeaderCellDef> Nro Despacho </th>
                <td mat-cell *matCellDef="let element"> {{element.nro_despacho}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo_venta">
                <th mat-header-cell *matHeaderCellDef> Tipo de venta </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_venta}} </td>
            </ng-container>

            <ng-container matColumnDef="mercado">
                <th mat-header-cell *matHeaderCellDef> Mercado </th>
                <td mat-cell *matCellDef="let element"> {{element.mercado}} </td>
            </ng-container>

            <ng-container matColumnDef="etiqueta">
                <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
                <td mat-cell *matCellDef="let element"> {{element.etiqueta}} </td>
            </ng-container>

            <ng-container matColumnDef="caja">
                <th mat-header-cell *matHeaderCellDef> Caja </th>
                <td mat-cell *matCellDef="let element"> {{element.caja}} </td>
            </ng-container>

            <ng-container matColumnDef="kg">
                <th mat-header-cell *matHeaderCellDef> Kg </th>
                <td mat-cell *matCellDef="let element"> {{element.kg}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
        </table>
        <br>
        <br>
        <div class="row">
            <button mat-button matStepperPrevious color="primary">Volver a OT's</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
<!-- TABLA  -->


<!-- botones flotantes -->
<div class="btn-plus2">
    <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/pantallacku']">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>

<!-- <div class="btn-plus">
    <button mat-fab title="Guardar cambios" class="btn-add" color="warn">
        <mat-icon>check</mat-icon>
    </button>
</div> -->