table {
  width: 100%;
  min-width: 450px;
}

.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary{
    background-color: rgba(187, 190, 199, 0.2);
    margin: 5px;
}

.buscador{
  float: left;
  opacity: 0.5;
  display: block;
  text-align: left !important;
}

hr{
  margin-top: 0;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
}
:host ::ng-deep.mat-stepper-vertical{
  background-color: transparent;
}
:host ::ng-deep.mat-vertical-stepper-header{
  background: transparent;
}
mat-paginator{
  background: transparent;
  float: left;
}
.ng-star-inserted{
    text-align: center;
 }
 @media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
  :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
