.contenedorTabla{
    margin-top: 1em;
    justify-content: center;
    justify-items: center;
    font-size: 14px;
}

.table{
    max-width: 98vw;
    margin: auto;
    border: 1px solid rgb(180, 180, 180, 0.5);
}

.table tbody tr:hover{
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005); 
  transition: all .3s ease-in-out;
}

.btn-orden-trabajo{
    background-color: rgb(107, 58, 114);
    color: white;   
    margin: 15px;  
    font-size: 14px;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

.btn-edit{
    color: gray;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer
}

.btn-edit:hover{
    color: rgb(107, 58, 114);
    transform: scale(1.2); 
    transition: all .3s ease-in-out;
}

.btn-edit mat-icon{
    font-size: 20px !important;
}
/* .selectFecha{
    font-size: 14px;
} */