<button mat-raised-button class="btn-orden-trabajo" (click)="ingresarOT()">Ingresar Orden de trabajo
</button>

<mat-form-field>
  <mat-select placeholder="Año y mes">
    <mat-option (onSelectionChange)="cargaFiltroFecha(ano)" class="opciones" *ngFor="let ano of anos" [value]="ano">
      {{ano.Ano}} - {{ano.NombreMes}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="contenedorTabla" *ngIf="!cargando">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patente</th>
        <th scope="col">RUT Cliente</th>
        <th scope="col">Fecha de ingreso OT</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ordenesTrabajo">
        <td>{{ item.cod_OT_OTVehi }}</td>
        <td>{{ item.id_Patente_snapClienteVehiculo }}</td>
        <td>{{ item.cod_cliente_cliente }}</td>
        <td>{{ item.dat_fecha_OTVehi | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.Tipo }}</td>
        <td>{{ item.des_estadoservicio_estadoservicio }}</td>
        <td>
          <button class="btn-edit" (click)="editarOT(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

</div>