<div class="contenedor">

  <app-encabezado></app-encabezado>

  <div class="row mt-1">
    <div class="col-12 ml-1">
      <!-- DATOS PARA GUIA DE RECEPCION  -->
      <div class="contenedorEnvaseSalida">
        <mat-card color="primary" class="titleEnvases">Detalle de salida de envases</mat-card>
        <mat-card class="cardRecepcionLinea">

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
            <mat-select>
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>P. Env.</mat-label>
            <input matInput disabled="true">
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Unifrutti</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Otros</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Total</mat-label>
            <input matInput disabled="true">
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Kilos Env.</mat-label>
            <input matInput disabled="true">
          </mat-form-field>


          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Nº Guía</mat-label>
            <input matInput disabled="true">
          </mat-form-field>

          <button matButton class="buttonAdd">
            <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
          </button>

        </mat-card>



        <!-- TABLA GUIA DE RECEPCION -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef> P. Env. </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef> Unifrutti </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="4">
            <th mat-header-cell *matHeaderCellDef> Otros</th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="5">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="6">
            <th mat-header-cell *matHeaderCellDef> Kilos env. </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="7">
            <th mat-header-cell *matHeaderCellDef> Nº Guía</th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- botones flotantes -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/pantallacku']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab title="Guardar cambios" class="btn-add" color="warn" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>