<!-- BUSCADOR -->
<mat-form-field class="mt-2 buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscador
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<table mat-table [dataSource]="dataSourceRoles" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="nombre" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
    <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
  </ng-container>
  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item asign (click)="asignarFunc(element)">
          <mat-icon>playlist_add</mat-icon>
          <span>Asignar funcionalidades</span>
        </button>
        <button mat-menu-item (click)="editarRol(element)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="eliminarRol(element)">
          <mat-icon>delete</mat-icon>
          <span>Borrar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; ">
  </tr>
</table>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

<!-- PAGINADOR DE TABLA -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

<div class="btn-plus">
  <button mat-fab title="Añadir Rol" color="warn" class="btn-add" (click)="agregarRol()">
    <mat-icon>add</mat-icon>
  </button>
</div>