table .mat-elevation-z8{
  width: 100%;
  min-width: 450px;
}
.pantallaRecepcion{
  font-size: 12px;
}

.mat-elevation-z8 {    
  -webkit-overflow-scrolling: auto;
}
.fa-chevron-circle-right{
  color:rgb(3, 122, 177);
  font-size: 1.4em;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}
  
:host ::ng-deep.mat-vertical-content{
    padding: 0 !important ;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: .15em .15em 0 .15em
    
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}

:host ::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.4em;
  outline: none;
}

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}

.observaciones{
    min-height:  8em;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    width: 40vw;
}

.selectSmall{
  width: 8.7em;
}

.selectxSmall{
  width: 5.5em;
}

.buttonAdd .fa-plus-square{
  font-size: 20px;
}
.btn_nuevalinea{
  margin-bottom: 1em;
  background-color: rgba(203, 224, 203, 0.2);
  margin-top: -6em;
}

.titulosTablas{
font-size: 14px;
font-weight: 600;
padding: 8px;
}

.textoTitulos{
  margin: 0.5em;
  font-weight: 400;
}

.menuIcon{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary{
    background-color: rgba(187, 190, 199, 0.2);
    margin: 5px;
}
.buttonAdd{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  /* float: right; */
} 
.pesoPorEspecie{
  width: 25em;
  margin-left: 15px;
  margin-bottom: 20px;
  background: transparent;
}
mat-card .pesoPorEspecie{
  background: transparent;
}

.contenedorRecepcion, .contenedorEnvaseSalida{
    margin: 0px auto;
}
.inputPeso{
  width: 10em !important;
}

.mostrarProductor .mostrarCSG{
  max-width: 11em;
  word-wrap: break-word;
}

table th, td {
  text-align: center;
}

.pesoPromedioFinal{
  color: rgb(1, 122, 179);
  font-size: 45px;
  font-weight: 600;
  margin-top: -20px;
}

@media (max-width: 1400px) {
:host ::ng-deep.mat-form-field-wrapper{
  width: 85%;
}
}