<!-- INFORMACION DE RECEPCION -->

<div class="pantallaRecepcion">
  <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Información de Recepción</strong></div>
  <hr>
  <div class="row mt-1">
    <div class="col-xl-2 col-l-3">

      <mat-form-field class="rutTest" appearance="fill">
        <mat-label>Rut productor</mat-label>
        <input #rutInput matInput maxlength="9" [ngModelOptions]="{standalone: true}" (change)="formatoRut()"
          [(ngModel)]="rut">
      </mat-form-field>

      <div class="textoTitulos">
        <p>Productor:</p>
        <p class="mostrarProductor">Agricola Palomar LTDA.</p>
        <!-- Aquí se muestra el nombre después de ingresar rut-->
      </div>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label>Huerto</mat-label>
        <mat-select>
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="textoTitulos">
        <p>CSG:</p>
        <p class="mostrarCSG"></p> <!-- Aqui se muestra el codigo CSG-->
      </div>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-radio-group (change)="especievariedadOption($event)">
        <mat-label class="textoTitulos d-block">Modo pesaje</mat-label>
        <mat-radio-button value=1 class="d-inline ml-2">Especie </mat-radio-button>
        <mat-radio-button value=0 class="d-inline ml-2">Variedad</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="textoTitulos col-12">
      <p>Nº Recepción: 42314234234</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label>Guía SII</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Frigorífico</mat-label>
        <mat-select>
          <mat-option value="option">Teno</mat-option>
          <mat-option value="option">Romeral</mat-option>
          <mat-option value="option">Negrete</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label>Fecha Cosecha</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Despacho</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Recepción</mat-label>
        <input matInput [matDatepicker]="picker3" disabled="true">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Información del camion -->
    <div class="col-xl-2 col-l-3">
      <p class="ml-3"><strong>Información del Camión</strong></p>
      <div class="col-xl-2 col-l-3">
        <mat-form-field appearance="fill">
          <mat-label>Rut chofer</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nombre Chofer</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="col-xl-2 col-l-3">
        <mat-form-field appearance="fill">
          <mat-label>Patente Camión</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Patente Carro/Rampla</mat-label>
          <input type="text" matInput (input)="validaPatente($event.target.value)">
        </mat-form-field>
      </div>
    </div>

    <!-- Solo se muestra este Pesaje (por romana() Si se escoge ESPECIE -->
    <div class="col-xl-3 col-l-3" *ngIf="mostrarPeso=='1'">
      <mat-card class="pesoPorEspecie text-center">
        <mat-form-field appearance="fill">
          <mat-label>Peso entrada</mat-label>
          <input #ingresopeso [(ngModel)]="ingresoPeso" matInput type="number" (input)="cambioPeso($event)">
        </mat-form-field>
        <table>
          <tr>
            <td class="text-left">
              <mat-radio-button value="1" (change)="cambioCheck($event.value)" checked>Camión</mat-radio-button>
            </td>
            <th>
              <input [(ngModel)]="pesoCamion" disabled="true" name="pesoCamion" type="number"
                class="inputPeso">
            </th>
          </tr>
          <tr>
            <td class="text-left">
              <mat-radio-button value="2" (change)="cambioCheck($event.value)">Carro</mat-radio-button>
            </td>
            <th>
              <input [(ngModel)]="pesoCarro" name="pesoCarro" type="number" class="inputPeso"
                disabled="true">
            </th>
          </tr>
          <tr>
            <th></th>
            <th><input [(ngModel)]="pesoBruto" [disabled]=true type="number" class="inputPeso totalPesoEspecie"
              name="pesoBruto" placeholder="Total"></th>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>

  <!-- PESTAÑAS RECEPCION, ENVASE SALIDA Y DESTARE -->
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Recepción">
      <div class="row">
        <div class="col-12 ml-1">
          <!-- DATOS PARA GUIA DE RECEPCION  -->
          <p class="titulosTablas">Guía recepción líneas</p>
          <button *ngIf="!totalValida" color="warn" class="btn_nuevalinea" (click)="nuevaLinea()" mat-button>Agregar
            nueva
            línea
            <mat-icon>add</mat-icon></button>
          <div class="contenedorRecepcion">
            <!-- TABLA GUIA DE RECEPCION -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="especie">
                <th mat-header-cell *matHeaderCellDef> Especie </th>
                <td mat-cell *matCellDef="let element">{{element.especieNombre}}</td>
              </ng-container>

              <ng-container matColumnDef="variedad">
                <th mat-header-cell *matHeaderCellDef> Variedad </th>
                <td mat-cell *matCellDef="let element">{{element.variedadNombre}}</td>
              </ng-container>

              <ng-container matColumnDef="sdp">
                <th mat-header-cell *matHeaderCellDef> SDP</th>
                <td mat-cell *matCellDef="let element">{{element.sdp}}</td>
              </ng-container>

              <ng-container matColumnDef="pesobruto">
                <th mat-header-cell *matHeaderCellDef> Peso Bruto </th>
                <td mat-cell *matCellDef="let element">{{ element.pesoBruto }}</td>
              </ng-container>

              <ng-container matColumnDef="cant_env">
                <th mat-header-cell *matHeaderCellDef> Cantidad envases </th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvases }}</td>
              </ng-container>
              <ng-container matColumnDef="env">
                <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
              </ng-container>

              <ng-container matColumnDef="neto">
                <th mat-header-cell *matHeaderCellDef> NETO </th>
                <td mat-cell *matCellDef="let element">{{element.calculoNeto}}</td>
              </ng-container>

              <ng-container matColumnDef="promedio">
                <th mat-header-cell *matHeaderCellDef> Promedio </th>
                <td mat-cell *matCellDef="let element">{{element.promedio}}</td>
              </ng-container>

              <ng-container matColumnDef="linea">
                <th mat-header-cell *matHeaderCellDef> Línea </th>
                <td mat-cell *matCellDef="let element">{{element.linea}}</td>
              </ng-container>

              <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="menuIcon">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon><i class="fas fa-tags"></i></mat-icon>
                      <span>Abrir lote</span>
                    </button>
                    <button mat-menu-item (click)="modificarPesoBruto()">
                      <mat-icon><i class="fas fa-weight"></i></mat-icon>
                      <span>Modificar peso bruto</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar línea</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <button color="primary" class="mt-3" mat-button>
            <mat-icon>print</mat-icon> Imprimir transitoria
          </button>
        </div>
      </div>
    </mat-tab>

    <!-- Envase entrada -->
    <mat-tab label="Envase entrada">
      <div class="row mt-1">
        <div class="col-12 ml-1">

          <div class="contenedorEnvaseSalida">
            <p class="titulosTablas">Detalle de entrada de envases</p>
            <mat-card class="cardRecepcionLinea">

              <mat-form-field appearance="fill" class="selectSmall">
                <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
                <mat-select>
                  <mat-option value="option">Esponja</mat-option>
                  <mat-option value="option">Capuchon</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>P. Env.</mat-label>
                <input matInput disabled="true">
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Unifrutti</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Otros</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Total</mat-label>
                <input matInput disabled="true">
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Kilos Env.</mat-label>
                <input matInput disabled="true">
              </mat-form-field>

              <button matButton class="buttonAdd m-1">
                <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
              </button>
            </mat-card>

            <!-- TABLA -->
            <table mat-table [dataSource]="dataSourceEnvasesEntrada" class="mat-elevation-z8">

              <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef> P. Env. </th>
                <td mat-cell *matCellDef="let element">{{ element.tara }}</td>
              </ng-container>

              <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef> Unifrutti </th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvasesUni }}</td>
              </ng-container>

              <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef> Otros</th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvasesOtros }}</td>
              </ng-container>

              <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvases }}</td>
              </ng-container>

              <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef> Kilos env. </th>
                <td mat-cell *matCellDef="let element">{{ element.tara * element.cantEnvases }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- pestaña ENVASE SALIDA -->
    <mat-tab label="Envase salida">
      <div class="row mt-1">
        <div class="col-12 ml-1">

          <div class="contenedorEnvaseSalida">
            <p class="titulosTablas">Detalle de salida de envases</p>

            <!-- Este numero de guía es de Unifrutti, es igual para todas las lineas -->
            <mat-form-field appearance="fill" class="selectSmall ml-1">
              <mat-label>Nº Guía Unifrutti</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Huerto</mat-label>
              <mat-select>
                <mat-option value="option">Option 1</mat-option>
                <mat-option value="option">Option 2</mat-option>
                <mat-option value="option">Option 3</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-card class="cardRecepcionLinea">

              <mat-form-field appearance="fill" class="selectSmall">
                <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
                <mat-select>
                  <mat-option value="option">Option 1</mat-option>
                  <mat-option value="option">Option 2</mat-option>
                  <mat-option value="option">Option 3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>P. Env.</mat-label>
                <input matInput disabled="true">
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Unifrutti</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Otros</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Total</mat-label>
                <input matInput disabled="true">
              </mat-form-field>

              <mat-form-field appearance="fill" class="selectxSmall">
                <mat-label>Kilos Env.</mat-label>
                <input matInput disabled="true">
              </mat-form-field>

              <button matButton class="buttonAdd m-1">
                <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
              </button>

            </mat-card>

            <!-- TABLA -->
            <table mat-table [dataSource]="dataSourceEnvasesSalida" class="mat-elevation-z8">

              <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef> P. Env. </th>
                <td mat-cell *matCellDef="let element">{{ element.tara }}</td>
              </ng-container>

              <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef> Unifrutti </th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvasesUni }}</td>
              </ng-container>

              <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef> Otros</th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvasesOtros }}</td>
              </ng-container>

              <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element">{{ element.cantEnvases }}</td>
              </ng-container>

              <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef> Kilos env. </th>
                <td mat-cell *matCellDef="let element">{{ element.tara * element.cantEnvases }}</td>
              </ng-container>

              <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef> Nº Guía</th>
                <td mat-cell *matCellDef="let element"></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
          <button color="primary" class="mt-3" mat-button>
            <mat-icon>print</mat-icon> Guía SII
          </button>

          <button color="primary" class="mt-3" mat-button>
            <mat-icon>close</mat-icon> Anular guía SII
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Destare">

      <div class="row mt-1">
        <div class="col-12 ml-1">
          <!-- DATOS PARA GUIA DE RECEPCION  -->
          <div class="contenedorDestare">
            <p class="titulosTablas" *ngIf="mostrarPeso!='1'">Control de tara de salida</p>
            <mat-card class="cardRecepcionLinea" *ngIf="mostrarPeso!='1'">
              <!-- en pesaje por especie no va -->
              <mat-form-field appearance="fill" class="selectSmall">
                <mat-label>Especie</mat-label>
                <mat-select (selectionChange)="selEspecie($event.value)" #refEspecie  [(ngModel)]="especie" >
                    <mat-option *ngFor="let especie of especies ; let i = index"  [value]="i"> {{especie.especie}} </mat-option>
                </mat-select>
              </mat-form-field>


                <!-- en pesaje por especie no va -->
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label>Variedad</mat-label>
                  <mat-select (selectionChange)="selVariedad($event.value)" #refVariedad [(ngModel)]="variedad" >
                    <mat-option [value]="variedad.variedadNombre" *ngFor="let variedad of variedades "> {{ variedad.variedadNombre }} </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="selectxSmall" >
                  <mat-label>Peso Tara</mat-label>
                  <input [(ngModel)]="pesoDestare" matInput>
                </mat-form-field>


              <button matButton class="buttonAdd m-1" (click)="agregarDestare()">
                <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
              </button>
            </mat-card>


            <mat-card class="cardRecepcionLinea" *ngIf="mostrarPeso=='1'">



                <mat-form-field appearance="fill" class="selectxSmall">
                    <mat-label>Peso Tara</mat-label>
                    <input [(ngModel)]="pesoDestarePorEspecie" matInput>
                </mat-form-field>

                <button matButton class="buttonAdd m-1" (click)="agregarDestareEspecie()">
                  <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
                </button>
              </mat-card>


            <!-- TABLA -->
            <table mat-table [dataSource]="dataSourceDestare" class="mat-elevation-z8">

              <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef> Especie</th>
                <td mat-cell *matCellDef="let element"> {{element.especie}} </td>
              </ng-container>

              <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef> Variedad </th>
                <td mat-cell *matCellDef="let element"> {{element.variedad}} </td>
              </ng-container>

              <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef> Cant. Envases </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidadEnvases}} </td>
              </ng-container>

              <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef> Peso tara </th>
                <td mat-cell *matCellDef="let element"> {{element.pesoDestare}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
          </div>
          <button color="primary" class="mt-3" mat-button>
            <mat-icon>print</mat-icon> Recepción Final
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- PESOS DE ENTRADA Y SALIDA -->
  <div class="row mt-5 ml-2">
    <div class="col-xl-2 col-l-3">

      <p class="ml-5"><strong>Entrada</strong></p>

      <mat-form-field appearance="fill">
        <mat-label>Peso bruto</mat-label>
        <input matInput [value]="pesoBruto">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso envases</mat-label>
        <input matInput disabled="true" [value]="pesoEnvase">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso E/S</mat-label>
        <input matInput disabled="true" [value]="pesoBruto - pesoEnvase">
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">
      <p class="ml-5"><strong>Salida</strong></p>
      <mat-form-field appearance="fill">
        <mat-label>Peso bruto tara</mat-label>
        <input [(ngModel)]="pesoBrutoSalida" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso envases</mat-label>
        <input matInput disabled="true" [value]="pesoEnvaseSalida">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso E/S</mat-label>
        <input matInput disabled="true" [value]="pesoBrutoSalida + pesoEnvaseSalida">
      </mat-form-field>
    </div>

    <div class="col-xl-4 mt-2">
      <p><strong>Peso promedio</strong></p>
      <p class="pesoPromedioFinal">{{pesoPromedioFinal}} Kgs.</p>
    </div>
  </div>

  <!-- OBSERVACIONES -->
  <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Observaciones</strong></div>
  <hr>
  <div>
    <div class="row">
      <div class="col-6">
        <textarea name="observaciones" class="observaciones"></textarea>
      </div>
    </div>
  </div>

  <!-- boton flotante para terminar -->
  <div class="btn-plus">
    <button mat-fab title="Guardar recepción" class="btn-add" color="warn" (click)="saveInfo()">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
