<h2>Agregar Actividad</h2>
<hr>

<mat-form-field>
  <mat-select placeholder="Kilometraje" [(ngModel)]="_model_km" (selectionChange)="select_km($event.value)" >
    <mat-option *ngFor="let listakilometraje of _listaKilometrajes" [value]="listakilometraje.num_kmMayor_snapTareaActVehi">
      {{listakilometraje.num_kmMayor_snapTareaActVehi}}
    </mat-option>
    <mat-option  value="sinkilometraje">
      Sin kilometraje
    </mat-option>
  </mat-select>
</mat-form-field>

<br>

<mat-form-field>
  <mat-select placeholder="Actividad" [(ngModel)]="_model_act" (selectionChange)="select_act($event.value)">
    <mat-option *ngFor="let act of _lista_actividades" [value]="act.id_tarea">
      {{act.des_tarea}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Valor" type="number" [disabled]="_model_km !== 'sinkilometraje'" [(ngModel)]="_valor" >
</mat-form-field>

<br>
<hr>
<button mat-raised-button color="primary" (click)="AgregarTarea()">Agregar</button>
<button mat-raised-button (click)="cerrar()">Cancelar</button>
