<!-- Contenedor pincipal -->
<div class="login-box-body" @show >
    <mat-card class="card-login" flex="flex">
        <mat-card-header align="center">
            <mat-card-title> 
              <h1>Iniciar Sesión</h1> 
            </mat-card-title>
        </mat-card-header>
        <form name="form" (ngSubmit)="f.form.valid && iniciarSesion()" #f="ngForm" novalidate>
            <mat-card-content >
                <mat-form-field class="inputs">
                    <!-- Input de rut -->
                    <input matTooltip="Ingrese Rut sin puntos ni guión" type="text" name="usuario" [(ngModel)]="modelo.usuario" #usuario="ngModel" required matInput placeholder="Rut" >
                </mat-form-field>
                <mat-form-field class="inputs">
                    <!-- Input de contraseña -->
                    <input matTooltip="Ingrese su contraseña" type="password" name="password" [(ngModel)]="modelo.password" #password="ngModel" required matInput placeholder="Contraseña"  >
                </mat-form-field>
                <br>
           </mat-card-content>
            <mat-card-actions align="center">
                <!-- Boton de inicio de sesion -->
                <button matTooltip="Presione para ingresar" [disabled]="cargando" color="primary" mat-raised-button>Iniciar Sesión
                </button>
                <br>
                <br>
                <br>
                <!-- Spinner de progreso -->
                <mat-spinner *ngIf="cargando" style="margin:0 auto;" color="accent" strokeWidth="3" [diameter]="50" ></mat-spinner> 
            </mat-card-actions>
        </form>
    </mat-card>
</div>