<form class="example-container" [formGroup]="PATENTE_">
  <mat-form-field appearance="outline" class="btn-ing-patente">
    <input matInput maxlength=6 type="text" placeholder="Ingrese Patente" (keyup)="changePatente()"
      [(ngModel)]="_patente" formControlName="patente_" required>
    <mat-error *ngIf="PATENTE_.get('patente_')?.invalid">Debe ingresar una Patente</mat-error>
  </mat-form-field>

  <button class="mr-2" mat-raised-button type="button" color="primary" (click)="agregarPatente()" data-toggle="modal"
    [disabled]="btnAsignarpatente" data-target="#estadov">
    Agregar Patente
  </button>

</form>



<div class="contenedorItems">
  <div class="row">
    <div class="col-6">
      <section class="items">
        <p class="titulos">¿Quién trae el vehículo?</p>
        <mat-checkbox color="primary" class="example-margin" [(ngModel)]="showOtro">Propietario</mat-checkbox>
        <br>
        <br>
        <mat-form-field class="example-margin" *ngIf="!showOtro">
          <input matInput type="text" placeholder=" /Otro" [(ngModel)]="_otro">
        </mat-form-field>
      </section>


      <mat-form-field class="items mr-2">
        <mat-select placeholder="Motivo" [formControl]="MotivoForm" [(ngModel)]="_motivos"
          (selectionChange)="select_motivos($event.value)" multiple>
          <mat-option *ngFor="let topping of ListMotivo" [value]="topping.value">{{ topping.descripcion }}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="items">
        <mat-select placeholder="Prioridad" [(ngModel)]="_prioridad">
          <mat-option value="1">Normal</mat-option>
          <mat-option value="2">Mediana</mat-option>
          <mat-option value="3">Urgente</mat-option>
        </mat-select>
      </mat-form-field>
      <br>


      <mat-form-field class="items date mr-2">
        <input [value]="date.value" matInput [matDatepicker]="picker" placeholder="Fecha y hora de recepción">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="items">
        <input matInput type="text" placeholder="Kilometraje" [(ngModel)]="_kilometraje" type="number"
          [formControl]="validaciones" required>
        <mat-error *ngIf="validaciones.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="items">
        <mat-select [disabled]="_deshabilitar_km" placeholder="Lista Kilometraje" [(ngModel)]="_seleccion_kilometraje">
          <mat-option *ngFor="let item of _listaKilometrajes" [value]="item"> {{item}} </mat-option>
        </mat-select>
      </mat-form-field>


      <br>
      <br>

      <label for="customRange3" class="titulos">Nivel de Combustible: {{_nivel_combustible}} </label>
      <br>
      <mat-icon>local_gas_station</mat-icon>
      <input type="range" class="custom-range" min="0" max="100" step="1" id="customRange3"
        [(ngModel)]="_nivel_combustible">
      <br>
    </div>
    <div class="col-6">
      <div *ngFor="let item of _listaPatenteDatos">
        <mat-card class="info-vehiculo" *ngIf="item.fechaString">
          <p>RUT Propietario: {{ item.des_rut_fichapersonal }}</p>
          <p>Nombre Propietario: {{ item.des_nombre_fichapersonal }}</p>
          <p>Ultima visita: {{ item.fechaString }}</p>
          <p>Motivo: {{ item.des_tarea }}</p>
          <p>Kilometraje: {{ item.num_kilometraje_encrecvehiculo }}</p>
          <p>Días en el Taller: {{ item.fecha }}</p>
          <div class="text-center">
            <button mat-raised-button type="button" color="primary" (click)="openDialogInfo()" data-toggle="modal"
              data-target="#estadov">
              Más información
            </button>
          </div>
        </mat-card>
      </div>
    </div>

  </div>


  <hr>
  <div class="contenedorItems">


    <p class="titulos">Ingrese profundidad de neumáticos (mm)</p>

    <form class="example-container" [formGroup]="_NUMEROS">
      <mat-form-field class="example-margin mr-2">
        <input matInput type="number" name="numero1" placeholder="Del. Der." formControlName="numero1"
          [(ngModel)]="_prof_del_der" min="1">
        <mat-error *ngIf="_NUMEROS.get('numero1')?.invalid">No puede ser menor a 0</mat-error>
      </mat-form-field>
      <mat-form-field class="example-margin mr-2">
        <input matInput type="number" name="numero1" placeholder="Del. Izq." formControlName="numero2"
          [(ngModel)]="_prof_del_izq" min="1">
        <mat-error *ngIf="_NUMEROS.get('numero2')?.invalid">No puede ser menor a 0</mat-error>
      </mat-form-field>
      <mat-form-field class="example-margin mr-2">
        <input matInput type="number" name="numero1" placeholder="Tras. Der." formControlName="numero3"
          [(ngModel)]="_prof_tras_der" min="1">
        <mat-error *ngIf="_NUMEROS.get('numero3')?.invalid">No puede ser menor a 0</mat-error>
      </mat-form-field>
      <mat-form-field class="example-margin mr-2">
        <input matInput type="number" name="numero1" placeholder="Tras. Izq." formControlName="numero4"
          [(ngModel)]="_prof_tras_izq" min="1">
        <mat-error *ngIf="_NUMEROS.get('numero4')?.invalid">No puede ser menor a 0</mat-error>
      </mat-form-field>
    </form>
  </div>
  <br>

  <hr>

  <button mat-raised-button class="btn-estado-vehiculo" *ngIf="!_habilitar_botones" (click)="guardarEstadoActual()"
    [disabled]="_patenteNoValida">Guardar
    Estado Actual</button>
  <hr>
  <div *ngIf="_habilitar_botones">
    <button mat-raised-button class="btn-estado-vehiculo mr-2" (click)="openDialogEstado()">Registre Estado del
      Vehículo</button>
    <button mat-raised-button class="btn-estado-vehiculo" (click)="openDialogDoc()">Registre Documentacion del
      Vehiculo</button>
  </div>

  <hr>

</div>

<button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="['/recepcion/listado_recepcion']">
  <mat-icon>arrow_back</mat-icon>
</button>

<button mat-fab color="primary" title="Continuar" class="btn-continuar" (click)="continuar()">
  <mat-icon>arrow_forward</mat-icon>
</button>