.row{
    padding: 0;
    width: 100%;
}

.btn-ing-patente ::ng-deep.mat-form-field-infix{
    border-top: 0;
    padding: 11px 0 8px 0;
}

:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix{
    border-top: 0 !important;
}

.btn-ing-patente{  
    margin-left: 20px; 
    margin-top: 15px; 
    font-size: 14px;
}

.contenedorItems{
    margin-left: 25px;
    font-size: 14px;
}

.custom-range{
    width: 24em;
}

.date{
    width: 180px;
}

.titulos{
    font-weight: 500;
}

.vencimientos{
    width: 180px;
}

:host ::ng-deep.mat-checkbox-layout {
    margin-bottom: .1rem !important;
}

.btn-estado-vehiculo{
    background-color: rgb(107, 58, 114);
    color: white;   
    font-size: 14px;
}

.btn-continuar{
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  color: white;
  outline: none;
  display: inline;
}

.btn-volver{
  position: fixed;
  color: white;
  bottom: 2.5em;
  left: 2.5em;
  outline: none;
  display: inline;
}

.info-vehiculo{
    width: 350px;
    float: right;
}
