<div class="contenedorPp">
  <br>



  <!-- carrusel de imagenes -->
  <div id="app">
    <button mat-icon-button class="btn-carousel-atras" (click)="moveLeft()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <drag-scroll #nav>
      <div drag-scroll-item *ngFor="let c of captures; let idx = index" class="tarjetaImg">
        <div align="end">
          <button mat-icon-button class="btn-eliminar" (click)="eliminarImagen(idx)"><i class="fa fa-times"></i></button>
        </div>
        
        <img src="{{ c.blob_fotografia_fotografia }}">
        <p class="observacion">
          {{ c.des_observacion_fotografia }}
        </p>        
      </div>
    </drag-scroll>
    <button mat-icon-button class="btn-carousel-adelante" (click)="moveRight()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>


  <!-- boton para subir fotografías nuevas -->
  <button mat-raised-button class="btn-cargar" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="btn_subirFotografia()">
    <mat-icon>add</mat-icon> Subir fotografías
  </button>

  <br>
  <br>
  <div *ngIf="_subiendo">
    <h4>Subiendo Imagenes....</h4>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!-- modal con webcam -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div align="end">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div><video #video id="video" width="640" height="480" autoplay></video></div>
        <div><canvas #canvas id="canvas" width="640" height="480"></canvas></div>
        <div><button mat-fab color="primary" id="snap" (click)="capture()" class="capture">
            <mat-icon>photo_camera</mat-icon>
          </button></div>

        <div class="mt-2">
          <textarea name="observacion" maxlength="210" (keyup)="onKey($event)"
          placeholder=" Observación: (Opcional)" class="text-area" [(ngModel)]="observaciones"></textarea>
          <span class="contador">{{contador}}/210</span>
        </div>

        <div align="end">
          <button mat-raised-button color="primary" class="m-2" data-dismiss="modal" cdkFocusInitial (click)="guardar()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- botones flotantes -->
<button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="['/recepcion/crear_recepcion']">
  <mat-icon>arrow_back</mat-icon>
</button>

<button mat-fab color="primary" title="Continuar" class="btn-continuar" (click)="continuar()">
  <mat-icon>arrow_forward</mat-icon>
</button>
