drag-scroll {
      height: 380px;
      width: 80vw;
      margin: 0px auto;
    }

::ng-deep.modal{
  background-color: rgba(0, 0, 0, 0.6);
}

::ng-deep.modal-backdrop{
  display: none;
}

.tarjetaImg{
    width: 240px;
    height: 370px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.45);
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.observacion{
    width: 220px;
    font-size: 12px;
    word-wrap: break-word;
    white-space: normal !important;
    margin: 0px auto;
    padding-top: 5px;
}

img {
      width: 230px;
      margin: 0px auto;
    }

.btn-carousel-atras{
    position: absolute;
    left: 3em;
    top: 18em;
    color: gray;
    outline: none;
}
.btn-carousel-adelante{
    position: absolute;
    right: 3em;
    top: 18em;
    color: gray;
    outline: none;
}
.contenedorPp{
    width: 98vw;
    margin: 0px auto;
    text-align: center;
}

.contador{
    color: gray;
    display: block;
    font-size: 12px;
    width: 80%;
    margin: 0px auto;
    text-align: left;
}

#app {
    text-align: center;
    color: #2c3e50;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 39%, rgba(242,242,242,1) 51%, rgba(242,242,242,1) 63%, rgba(255,255,255,1) 100%);
}

#video {
    background-color: #000000;
    margin: 0px auto;
}
#canvas {
    display: none;
    margin: 0px auto;
}
.capture{
    margin-top: 1em;
    outline: none;
}
.close{
    margin-right: 10px;
    margin-top: 5px;
}

.btn-cargar{
    background-color: #689F38;
    color: white;
    font-weight: 500;
    margin-top: 1em;
    outline: none;
}

.btn-continuar{
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  color: white;
  outline: none;
  display: inline;
}

.btn-volver{
  position: fixed;
  color: white;
  bottom: 2.5em;
  left: 2.5em;
  outline: none;
  display: inline;
}

.text-area{
    font-size: 14px;
    width: 80%;
    margin: 0px auto;
    min-height: 4em;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    outline: none;
}

.btn-eliminar{
    outline: none;
    font-size: 12px;
    color: rgb(155, 154, 154);
}

@media (max-width: 990px){
    #video{
        width: 440px;
        height: 280;
    }
    #canvas{
        width: 440px;
        height: 280;
    }
}