mat-toolbar-row {
    justify-content: space-between;
}

agm-map {
    align-self: flex-end;
    width: 100%;
    height: 91vh;
}

.contenedor{
    width: 100%;
    align-self: auto;
    margin: 0px auto 0 auto;
    display: flex;
    height: 91vh !important;
}

.card1{
    flex: 25%;
    padding: 1em;
    width: 50vh;
    height: 91vh;
}
