<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{titulo}} </span>
      <span>

      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="contenedor">
    <agm-map [mapTypeId]="'hybrid'" [styles]="estiloMapa" [zoom]="zoom" [streetViewControl]="false" [latitude]="lat"
      [longitude]="lng">

      <agm-polyline *ngFor="let point of arregloCoords;let i = index;" [strokeColor]="point.speed < 50 ? '#2196f3': 'red'">
        <agm-polyline-point [latitude]="point.coor.latitud" [longitude]="point.coor.longitud">
        </agm-polyline-point>
        <ng-container *ngIf="arregloCoords[i+1]">
          <agm-polyline-point [latitude]="arregloCoords[i+1].coor.latitud" [longitude]="arregloCoords[i+1].coor.longitud">
          </agm-polyline-point>
        </ng-container>
      </agm-polyline>

      <agm-marker *ngFor="let c of arregloCoords; let i = index" [latitude]="c.coor.latitud" [longitude]="c.coor.longitud"
        [iconUrl]='{"url": c.foto,"scaledSize": {"height": 50, "width": 50}}'>
      </agm-marker>
    </agm-map>

    <mat-card class="card1">
      <mat-select placeholder="Usuario">
        <mat-option *ngFor="let u of usuarios" [value]="u.nombre" (onSelectionChange)="seleccionaUsuario(u)">
          {{u.nombre}}
        </mat-option>
      </mat-select>
      <mat-select placeholder="Fecha">
        <mat-option *ngFor="let f of fechaUbi; let i = index" [value]="i" (onSelectionChange)="seleccionaFecha(f)">
          {{ f }}
        </mat-option>
      </mat-select>
    </mat-card>
  </div>
</div>