
<section class="content home">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <h2>Safe Report
          <small>Bienvenido a SafeReport</small>
        </h2>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 text-right">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Inicio</a></li>
          <li class="breadcrumb-item active">Palletizaje</li>
          <li class="breadcrumb-item active">Palletizaje Tarja</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="card">
          <div class="header">
            <div class="body">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>
                        <strong>Palletizaje</strong> Tarja

                        <mat-form-field style="margin-left: 10em; width: 10em;">
                          <mat-select placeholder="-- Impresora --" [(value)]="IP">
                            <mat-option *ngFor="let item of ListaImpresoras"
                              [value]="item.Ip"> {{ item.NombreImpresora }} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </h2>

                      <!-- <input class="form-control mb-2" type="text" name="search"> -->
                      <input class="form-control mb-2" type="text" name="search" [(ngModel)]="searchString" placeholder="Buscar....">

                      <ul class="header-dropdown" *ngIf="false">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                          </ul>
                        </li>
                        <li class="remove">
                          <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                      </ul>
                    </div>
                    <!-- BOTONES HEAD -->
                    <!-- <button type="button" class="btn btn-raised btn-primary btn-round waves-effect">GUARDAR</button> -->
                    <!-- <button type="button" class="btn btn-raised btn-danger btn-round waves-effect">BORRAR</button> -->

                    <!-- <mat-menu #matMenuVentana="matMenu">
                      <button mat-menu-item (click)="showReport(0,'pdf')">
                          <i class="fas fa-file-pdf fa-2x">&nbsp;</i>
                        <span>Ver PDF</span>
                      </button>
                      <button mat-menu-item (click)="showReport(1,'pdf')">
                          <i class="fas fa-file-pdf fa-2x">&nbsp;</i>
                        <span>Descargar PDF</span>
                      </button>
                      <button mat-menu-item (click)="showReport(1,'xlsx')">
                        <i class="fas fa-file-excel fa-2x">&nbsp;</i>
                        <span>Descargar XLSX</span>
                      </button>
                    </mat-menu> -->
                    <mat-menu #matMenuTarja="matMenu">
                      <button mat-menu-item (click)="showReport(0,'pdf')">
                          <i class="fas fa-file-pdf fa-2x">&nbsp;</i>
                        <span>Ver PDF</span>
                      </button>
                      <button mat-menu-item (click)="showReport(1,'pdf')">
                          <i class="fas fa-file-pdf fa-2x">&nbsp;</i>
                        <span>Descargar PDF</span>
                      </button>
                      <button mat-menu-item (click)="showReport(1,'xlsx')">
                        <i class="fas fa-file-excel fa-2x">&nbsp;</i>
                        <span>Descargar XLSX</span>
                      </button>
                    </mat-menu>
                    <!-- <mat-menu #menu="matMenu">
                      <button mat-menu-item class="btn btn-raised btn-danger btn-round waves-effect" (click)="showReport(1)">Ver PDF</button>
                      <button mat-menu-item class="btn btn-raised btn-danger btn-round waves-effect">Descargar PDF</button>
                      <button mat-menu-item class="btn btn-raised btn-success btn-round waves-effect">Descargar XLSX</button>
                    </mat-menu> -->

                    <!-- FORMULARIO -->
                      <div class="body">
                        <div class="row clearfix">
                          <div class="col-md-12">
                            <div class="example-container">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col">Folio</th>
                                      <th scope="col">Productor</th>
                                      <th scope="col">Variedad</th>
                                      <th scope="col">Fecha Embalaje</th>
                                      <th scope="col">Estandar de embalaje</th>
                                      <th scope="col">Calibre</th>
                                      <th scope="col">Condición</th>
                                      <th scope="col">Total Cajas</th>
                                      <th scope="col" colspan="2" class="text-center">Acciones</th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                    <tr *ngFor="let item of DataSourceLista | orderBy: key : reverse | filter : searchString | paginate: { itemsPerPage: 5, currentPage: p };">
                                      <td>{{ item.Folio }}</td>
                                      <td>{{ item.Productor }}</td>
                                      <td>{{ item.Variedad }}</td>
                                      <td>{{ item.Fecha }}</td>
                                      <td>{{ item.embalaje }}</td>
                                      <td>{{ item.calibre }}</td>
                                      <td>{{ item.asCondicion }}</td>
                                      <td>{{ item.Tcajas }}</td>
                                      <td>
                                        <!-- <button type="button" (click)="setCod( 2, item.Folio )" class="btn btn-raised btn-default btn-round waves-effect btn-sm" [matMenuTriggerFor]="matMenuVentana">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Ventana</span>
                                        </button> -->
                                        <!-- <button type="button" (click)="setCod( 2, item.Folio ); prepararZPL( item );" class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Ventana</span>
                                        </button> -->
                                        <button type="button" (click)="setCod( 2, item.Folio ); ZPLnuevo( item.Folio );" class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Ventana</span>
                                        </button>
                                      </td>
                                      <td>
                                        <button type="button" (click)="setCod( 1, item.Folio )" class="btn btn-raised btn-default btn-round waves-effect btn-sm" [matMenuTriggerFor]="matMenuTarja">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Tarja</span>
                                        </button>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                                <p class="mt-4 text-center" *ngIf="DataSourceLista.length == 0">{{ textoWebService }}</p>
                                <mat-spinner *ngIf="cargando"></mat-spinner>
                                <pagination-controls (pageChange)="p = $event" *ngIf="!errorWS"></pagination-controls>


                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- .FORMULARIO -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
