mat-toolbar-row {
    justify-content: space-between;
}


.contenedor{
    width: 100%;
    align-self: auto;
    margin: 0px auto 0 auto;
    display: flex;
    height: 91vh !important;
}

.card{
    width: 100% !important;
    height: 91vh !important;
}


.input-codigo {
  width: 23%;
  padding: 1%;
}

.input-muestra{
  width: 100%;
  padding: 1%;
}
.centrar{
    text-align: center;
}

.imagen{
   width: 600px;
   height: 600px;
   position: absolute;
   left: 40%;
   top: 40%; 
   margin-left: -200px;
   margin-top: -200px;
}