<button mat-raised-button class="btn-ing-recepcion" (click)="ingresarRecepcion()">Ingresar Recepción</button>

<!-- selects mes y año -->
<mat-form-field class="selectFecha">
  <mat-select  [(ngModel)]="m" (selectionChange)="buscar()">
    <mat-option  *ngFor="let mes of meses" [value]="mes.id" >
      {{mes.mes}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="selectFecha">
  <mat-select  [(ngModel)]="y" (selectionChange)="buscar()">
    <mat-option *ngFor="let year of years" [value]="year">
      {{year}}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- tabla -->
<div class="contenedorTabla" *ngIf="!cargando">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Patente</th>
        <th scope="col">RUT Cliente</th>
        <th scope="col">Empresa</th>
        <th scope="col">Fecha Recepcion</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of DataSource">
        <td>{{ item.id_Patente_snapClienteVehiculo }}</td>
        <td>{{ item.des_rut_fichapersonal }}</td>
        <td>{{ item.des_nombre_empresa }}</td>
        <td>{{ item.fechaString }}</td>
        <td>{{ item.des_TipoAct }}</td>
        <td>{{ item.des_descripcion_estadoordencompra }}</td>
        <td><button class="btn-edit" (click)="editarEstado(item)"><mat-icon>edit</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
</div>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
