
<!-- BUSCADOR -->
<mat-form-field class="buscador" *ngIf="mostrarTabla" align="start">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<mat-form-field class="buscador" *ngIf="!mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter2($event.target.value)">
</mat-form-field>

<!-- slider toggle -->
<div class="row">
  <div class="col-12">
    <span>Pendientes <mat-slide-toggle (toggleChange)="onToggleChange($event)" [ngClass]="{'active': isActive}">Realizadas</mat-slide-toggle></span>
  </div>
  <br>
  <br>
  <div class="col-12" *ngIf="mostrarTabla">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Listado recepciones Pendientes (Frío)</h1>
  </div>
  <div class="col-12" *ngIf="!mostrarTabla">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Listado recepciones Realizadas (Frío)</h1>
  </div>
</div>

<!-- TABLA  -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla">

  <ng-container matColumnDef="planta">
    <th mat-header-cell *matHeaderCellDef> Planta </th>
    <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
  </ng-container>

  <ng-container matColumnDef="lote">
    <th mat-header-cell *matHeaderCellDef> Nº Lote </th>
    <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_productor">
    <th mat-header-cell *matHeaderCellDef>Código productor </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="nombreproductor">
    <th mat-header-cell *matHeaderCellDef> Nombre Productor </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreproductor}} </td>
  </ng-container>

  <ng-container matColumnDef="variedad">
    <th mat-header-cell *matHeaderCellDef>Especie/Variedad </th>
    <td mat-cell *matCellDef="let element"> {{element.variedad}} </td>
  </ng-container>

  <ng-container matColumnDef="bandejas">
    <th mat-header-cell *matHeaderCellDef> Nº Bandejas </th>
    <td mat-cell *matCellDef="let element"> {{element.bandejas}} </td>
  </ng-container>

  <ng-container matColumnDef="totalkilos">
    <th mat-header-cell *matHeaderCellDef> Total kilos </th>
    <td mat-cell *matCellDef="let element"> {{element.totalkilos}} </td>
  </ng-container>

  <ng-container matColumnDef="hrllegada">
    <th mat-header-cell *matHeaderCellDef> Hora de llegada </th>
    <td mat-cell *matCellDef="let element"> {{element.hrllegada}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon><i class="fas fa-boxes"></i></mat-icon>
          <span>Estibar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner> -->

<!-- TABLA 2 -->
<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" *ngIf="!mostrarTabla">

  <ng-container matColumnDef="planta">
    <th mat-header-cell *matHeaderCellDef> Planta </th>
    <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
  </ng-container>

  <ng-container matColumnDef="lote">
    <th mat-header-cell *matHeaderCellDef> Nº Lote </th>
    <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="nombreproductor">
    <th mat-header-cell *matHeaderCellDef> Nombre Productor </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreproductor}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_productor">
    <th mat-header-cell *matHeaderCellDef>Código productor </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="variedad">
    <th mat-header-cell *matHeaderCellDef>Variedad </th>
    <td mat-cell *matCellDef="let element"> {{element.variedad}} </td>
  </ng-container>

  <ng-container matColumnDef="bandejas">
    <th mat-header-cell *matHeaderCellDef> Nº Bandejas </th>
    <td mat-cell *matCellDef="let element"> {{element.bandejas}} </td>
  </ng-container>

  <ng-container matColumnDef="totalkilos">
    <th mat-header-cell *matHeaderCellDef> Total kilos </th>
    <td mat-cell *matCellDef="let element"> {{element.totalkilos}} </td>
  </ng-container>

  <ng-container matColumnDef="hrllegada">
    <th mat-header-cell *matHeaderCellDef> Hora de llegada </th>
    <td mat-cell *matCellDef="let element"> {{element.hrllegada}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon><i class="fas fa-boxes"></i></mat-icon>
          <span>Estibar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- PAGINADOR DE TABLA -->
<mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
