<div class="text-center">
  <h1 mat-dialog-title class="titulo">Ingrese IP del servidor</h1>
</div>

<div mat-dialog-content class="text-center">
  <div class="row">
    <div class="col-4">
      <br>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="ipserver" placeholder="Ip">
      </mat-form-field>
    </div>
  </div>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="guardarIP()">Guardar</button>
</div>