.cdk-overlay-pane .mat-dialog-container{
    width: 50% !important;
}
:host ::ng-deep.mat-form-field-wrapper{
    width: 180px !important;
    font-size: 14px;
}

:host ::ng-deep.mat-form-field-infix{
    border-top: 0 !important;
}

.titulo{
    font-size: 16px;
    font-weight: 600;
}

.contenedorTabla{
    margin-top: 1em;
    justify-content: center;
    justify-items: center;
    font-size: 14px;
}

.table{
    max-width: 98vw;
    margin: auto;
    border: 1px solid rgb(180, 180, 180, 0.5);
}

.table tbody tr:hover{
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005); 
  transition: all .3s ease-in-out;
}

.inputs ::ng-deep .mat-form-field-underline {
    display: none;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

.time{
    margin-left: 5px;
    width: 4.5em;
    background-color: transparent;
    border: none;
    outline:none;
}

.cantidad{
    width: 70px !important;
    margin-left: 1em;
    margin-right: 1em;
}


.btn_agregarInsumo{
    background-color: #689F38;
    outline: none;
}
