<div class="containerPrincipal">
  <!-- BUSCADOR -->

  <mat-form-field class="mt-2">
    <mat-placeholder>
      <mat-icon>search</mat-icon> Buscador
    </mat-placeholder>
    <input matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

  <!-- TABLA  -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="codigo" checkboxPosition="before">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
    </ng-container>

    <ng-container matColumnDef="rol" checkboxPosition="before">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element">{{element.rol}}</td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item asign [routerLink]="[ '/seguridad/rolescrear']">
            <mat-icon>playlist_add</mat-icon>
            <span>Asignar funcionalidades</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Borrar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-spinner *ngIf="cargando"></mat-spinner>
  <!-- PAGINADOR DE TABLA -->
  <mat-paginator [length]="100" [pageSize]="50" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>

</div>

<div class="btn-plus">
  <button mat-fab color="warn" title="Añadir productor" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
