<div class="container-fluid contenedor">
  <img src="assets/img/logo_gris.png" class="logoPall" alt="">
  <mat-card>
    <img src="assets/img/logo_negro.png" class="logoMagicCar" alt="">
    <mat-form-field class="input">
      <input matInput type="text" [(ngModel)]="_usr" placeholder="Usuario" required>
    </mat-form-field>
    <br>
    <mat-form-field class="input">
      <input matInput type="password" [(ngModel)]="_psw" placeholder="Contraseña" required>
    </mat-form-field>
    <br>
    <button mat-raised-button class="ingresar mt-2" type="submit" (click)="iniciarSession()">Iniciar Sesión</button>
  </mat-card>
</div>
