
/*estilos de LOGIN MAGIC CAR*/

.contenedor{
  background-image: url(/assets/img/login2.jpg);
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  position: fixed;
}

mat-card{
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  width: 25em;
  height: 30em;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10em;
}

.logoMagicCar{
  width: 12em;
  top: -6em;
  margin-bottom: 2em;
}

.logoPall{
    width: 12em;
    left: 3em;
    top: 1em;
    position: absolute;
}

