<section class="content home">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <h2>Safe Report
            <small>Bienvenido a SafeReport</small>
          </h2>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 text-right">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active">Planilla QC</li>
            <li class="breadcrumb-item active">Listado QC</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="card">
            <div class="header">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="header">
                        <h2>
                          <strong>Listado</strong> QC
                        </h2>

                        <!-- <input class="form-control mb-2 mt-4" type="text" name="search"> -->
                        <input class="form-control mb-2 mt-4" type="text" name="search" [(ngModel)]="searchString" placeholder="Buscar....">

                        <ul class="header-dropdown" *ngIf="false">
                          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="javascript:void(0);">Action</a></li>
                              <li><a href="javascript:void(0);">Another action</a></li>
                              <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                          </li>
                          <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                          </li>
                        </ul>
                      </div>
                      <p>Pendientes <mat-slide-toggle (change)="onChange($event)" class="ml-2 mr-2"></mat-slide-toggle> Realizadas</p>
                      <h2>
                        Listado de QC {{ tipoListado }}
                      </h2>

                      <!-- FORMULARIO -->
                        <div class="body">
                          <div class="row clearfix">
                            <div class="col-md-12">
                              <div class="example-container">
                                  <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Planta</th>
                                        <th scope="col">Nº Lote</th>
                                        <th scope="col">Fecha Recepcion</th>
                                        <th scope="col">Nombre Productor</th>
                                        <th scope="col">Código Productor</th>
                                        <th scope="col">Variedad</th>
                                        <th scope="col">Nº Bandejas</th>
                                        <th scope="col">Total kilos</th>
                                        <th scope="col">Hora de llegada</th>
                                        <th scope="col" class="text-center">Acciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <!-- <tr> -->
                                      <tr *ngFor="let item of DataSource | filter : searchString | paginate: { itemsPerPage: 5, currentPage: p };">
                                        <td>{{ item.planta }}</td>
                                        <td>{{ item.N_lote }}</td>
                                        <td>{{ item.FechaRecepcionString }}</td>
                                        <td>{{ item.nombre_productor }}</td>
                                        <td>{{ item.codigo_productor }}</td>
                                        <td>{{ item.variedad }}</td>
                                        <td>{{ item.numero_bandeja }}</td>
                                        <td>{{ item.kilos }}</td>
                                        <td>{{ item.HoraIngresoString }}</td>
                                        <td>
                                          <button type="button" (click)="openPlanilla(item)" class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                            <span><i class="fas fa-ellipsis-v">&nbsp;</i> Planilla</span>
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="mt-4 text-center" *ngIf="DataSource.length == 0 && !cargando">{{ textoMensaje }}</p>
                                  <mat-spinner *ngIf="cargando"></mat-spinner>
                                  <pagination-controls (pageChange)="p = $event" *ngIf="!cargando && !error"></pagination-controls>


                              </div>
                            </div>
                          </div>
                        </div>
                      <!-- .FORMULARIO -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
