<div>
  <h2 class="tituloDialog d-inline">Folio</h2>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<hr>

<!-- <div mat-dialog-content class="justify-content-center mt-3">
  <p>Guía: 2342412</p>
  <p>Frigorífico: FRIO TENO</p>
  <p>Cámara: PRODUCTOR 20 090 HURTADO</p>
  <p>Variedad: BING</p>
  <p>Tipo Frío: 32 F/C-1</p>
  <p>Condición: NORMAL </p>
  <p>Envase: PLAST. TOTE</p>
</div> -->

<div class="row mt-4">
  <div class="col-6">
    <mat-form-field class="mr-1">
      <mat-label>Guía</mat-label>
      <input matInput disabled="true" value="4324323">
    </mat-form-field>
    <br>
    
    <mat-form-field class="mr-1">
      <mat-label>Frigorífico</mat-label>
      <input matInput disabled="true" value="Frio teno">
    </mat-form-field>
    <br>
    
    <mat-form-field class="mr-1">
      <mat-label>Cámara</mat-label>
      <input matInput disabled="true" value="Productor 20 090 hurtado">
    </mat-form-field>
    <br>
  
    <mat-form-field class="mr-1">
      <mat-label>Variedad</mat-label>
      <input matInput disabled="true" value="BING">
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field>
      <mat-label>Tipo Frío</mat-label>
      <input matInput disabled="true" value="32 F/C-1">
    </mat-form-field>
    <br>
   
    <mat-form-field>
      <mat-label>Condición</mat-label>
      <input matInput disabled="true" value="Normal">
    </mat-form-field>
    <br>
    
    <mat-form-field>
      <mat-label>Envase</mat-label>
      <input matInput disabled="true" value="Plast. Tote">
    </mat-form-field>
  </div>
</div>