<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div mat-dialog-title class="encabezado">
  <p>Línea: 1</p>
  <mat-form-field appearance="fill" class="selectSmall">
    <mat-label>Especie</mat-label>
    <mat-select>
      <mat-option value="option">Manzana</mat-option>
      <mat-option value="option">Cereza</mat-option>
      <mat-option value="option">Duraznos</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectSmall">
    <mat-label>Variedad</mat-label>
    <mat-select>
      <mat-option value="option">Kordia</mat-option>
      <mat-option value="option">Fuji</mat-option>
      <mat-option value="option">Royal</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-content>
  <table style="width:100%">
    <tr>
      <th>
        <mat-checkbox (change)="checkTodo($event)" ></mat-checkbox>
      </th>
      <th>Bins</th>
    </tr>
    <tr *ngFor="let bins of listaBins">
      <th>
        <mat-checkbox [(ngModel)]="bins.check" ></mat-checkbox>
      </th>
      <td>{{ bins.codigo }}</td>
    </tr>

<!--
    <tr>
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <td>1232343</td>
    </tr>
    <tr>
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <td>1232365</td>
    </tr>
    <tr>
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <td>1234234</td>
    </tr>
    <tr>
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <td>6454654</td>
    </tr>
    <tr>
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <td>3458545</td>
    </tr>
    <tr>
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <td>6875442</td>
    </tr> -->
  </table>
</div>

<div mat-dialog-actions>
  <p class="d-inline">Total bins: {{ listaBins.length }}</p>
  <div class="btn_imprimir">
    <button color="primary" mat-button>
      <mat-icon>print</mat-icon> Imprimir folio
    </button>
  </div>
</div>
