
<!-- <button mat-icon-button title="Salir" (click)="close()" class="btn-volver mb-2">
  <mat-icon>close</mat-icon>
</button> -->

<div class="selects mt-2">
  <mat-form-field class="widthInputs">
    <mat-select placeholder="Exportadora" [(ngModel)]="_exportadora" (selectionChange)="loadNExportadora()">
      <mat-option *ngFor="let exportadora of exportadora" [value]="exportadora.value">
        {{exportadora.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="widthInputs">
    <mat-select placeholder="Temporada"[(ngModel)]="_temporada" (selectionChange)="loadNtemporada()">
      <mat-option *ngFor="let temporada of temporada" [value]="temporada.value">
        {{temporada.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="widthInputs">
    <mat-select placeholder="Planta" [(ngModel)]="_planta" (selectionChange)="loadNPlantas()">
      <mat-option *ngFor="let planta of planta" [value]="planta.value">
        {{planta.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div>
    <button mat-mini-fab (click)="logout()" class="mr-5">
      <mat-icon>power_settings_new</mat-icon>
    </button>

    <button mat-mini-fab title="Guardar cambios" (click)="onClick()" color="warn">
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <!-- <div [innerHtml]="msgError" class="msgError mt-3"></div> -->

</div>