<section class="content home">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <h2>Safe Report
            <small>Bienvenido a SafeReport</small>
          </h2>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 text-right">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active">Exportacion</li>
            <li class="breadcrumb-item active">Listado Negocio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="card">
            <div class="header">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="header">
                        <h2>
                          <strong>Listado</strong> Negocio
                        </h2>

                        <input class="form-control mb-2 mt-4" type="text" name="search" [(ngModel)]="searchString" placeholder="Buscar....">

                        <ul class="header-dropdown" *ngIf="false">
                          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="javascript:void(0);">Action</a></li>
                              <li><a href="javascript:void(0);">Another action</a></li>
                              <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                          </li>
                          <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                          </li>
                        </ul>
                      </div>

                      <!-- FORMULARIO -->
                        <div class="body">
                          <div class="row clearfix">
                            <div class="col-md-12">
                              <div class="example-container">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col">Nº reg.</th>
                                      <!-- <th scope="col">Razon Soc.</th> -->
                                      <th scope="col">Fecha</th>
                                      <th scope="col">BL</th>
                                      <th scope="col">Transporte</th>
                                      <th scope="col">Recibidor</th>
                                      <th scope="col">Pais</th>
                                      <th scope="col">Mod. Venta</th>
                                      <!-- <th scope="col">Form. Pago</th> -->
                                      <!-- <th scope="col">Moto Nave</th> -->
                                      <th scope="col">Origen</th>
                                      <th scope="col">Destino</th>
                                      <th scope="col">Cajas</th>
                                      <th
                                        scope="col"
                                        class="text-center"
                                        colspan="4">Acciones</th>
                                    </tr>
                                    <tr *ngFor="let item of DataSourceLista | filter : searchString | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                      <td>{{ item.nro_neg }}</td>
                                      <!-- <td>{{ item.raz_social }}</td> -->
                                      <td>{{ item.fecha_neg }}</td>
                                      <td>{{ item.BL }}</td>
                                      <td>{{ item.tip_transporte }}</td>
                                      <td>{{ item.Recibidor }}</td>
                                      <td>{{ item.Pais }}</td>
                                      <td>{{ item.mod_venta }}</td>
                                      <!-- <td>{{ item.for_pago }}</td> -->
                                      <!-- <td>{{ item.motonave }}</td> -->
                                      <td>{{ item.pto_origen }}</td>
                                      <td>{{ item.pto_destino }}</td>
                                      <td>{{ item.cajas }}</td>
                                      <td>
                                        <button type="button"
                                          (click)="showReportPackingList()"
                                          class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Packing List</span>
                                        </button>
                                      </td>
                                      <td>
                                        <button type="button"
                                          (click)="showReportDespacho()"
                                          class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Despacho</span>
                                        </button>
                                      </td>
                                      <td>
                                        <button type="button"
                                          (click)="showReportInvoice()"
                                          class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Invoice</span>
                                        </button>
                                      </td>
                                      <td>
                                        <button type="button"
                                          (click)="showReportGuias()"
                                          class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                          <span><i class="fas fa-ellipsis-v">&nbsp;</i> Guias</span>
                                        </button>
                                      </td>
                                    </tr>
                                  </thead>
                                </table>
                                <p class="mt-4 text-center" *ngIf="DataSourceLista.length == 0 && !cargando">{{ textoMensaje }}</p>
                                <mat-spinner *ngIf="cargando"></mat-spinner>
                                <pagination-controls (pageChange)="p = $event" *ngIf="!cargando && !error"></pagination-controls>

                              </div>
                            </div>
                          </div>
                        </div>
                      <!-- .FORMULARIO -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
