<div class="text-center">
  <h1 mat-dialog-title class="titulo">Asignación responsable</h1>
</div>
<hr>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

<div mat-dialog-content class="text-center" *ngIf="!cargando">
  <div class="row">
    <div class="col-4">
      <br>
      <mat-form-field>
        <mat-select placeholder="Responsable" [(ngModel)]="cod_responsable" name="cod_responsable"
          (change)="obtenerResp($event.value)">
          <mat-option class="opciones" *ngFor="let resp of responsables" [value]="resp.cod_fichapersonal_fichapersonal">
            {{resp.NombreCompleto}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="inputs">
        <input matInput type="text" [(ngModel)]="estado" [disabled]="true" placeholder="Estado">
      </mat-form-field>
    </div>
    <div class="col-3">
      <br>
      <mat-form-field class="inputs">
        <input matInput type="text" [(ngModel)]="fechaIniciadaMuestra" [disabled]="true"
          placeholder="Fecha y hora iniciada">
      </mat-form-field>
      <br>
      <mat-form-field class="inputs">
        <input matInput type="text" [(ngModel)]="fechaTerminoMuestra" [disabled]="true"
          placeholder="Fecha y hora real de término">
      </mat-form-field>
    </div>
    <div class="col-5">
      <br>
      <mat-form-field class="fechas">

        <input matInput maxlength=10 [matDatepicker]="picker" [(ngModel)]="fechaAsiganda" name="fechaAsiganda"
          placeholder="Fecha asignada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <input type="time" class="time" name="time" [(ngModel)]="horaAsignada" name="horaAsignada" />
      <br>
      <mat-form-field class="fechas">
        <input matInput maxlength=10 [matDatepicker]="picker2" [(ngModel)]="fechaTermino" name="fechaTermino"
          placeholder="Fecha término">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <input type="time" class="time" name="time" [(ngModel)]="horaTermino" />
      <br>
    </div>
  </div>


  <div class="row" *ngIf="!cargando">
    <div class="col-12 text-center">
      <h1 mat-dialog-title class="titulo">Agregar insumos</h1>
      <hr>


      <mat-form-field class="mr-2">
        <input type="text" placeholder="Insumo" matInput name="cod_insumo" [(ngModel)]="cod_insumo"
          [formControl]="myControl" [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >            
            {{option.des_nombre_materiaprima}}
          </mat-option> 
        </mat-autocomplete>
      </mat-form-field>

      <!-- <mat-form-field class="mr-2">
        <mat-select placeholder="Insumo" [(ngModel)]="cod_insumo" name="cod_insumo" (change)="obtenerInsumo($event.value)">
          <mat-option class="opciones" *ngFor="let ins of insumos" [value]="ins.cod_producto_materiaprima">
            {{ins.des_nombre_materiaprima}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field class="inputs cantidad">
        <input matInput type="number" [(ngModel)]="cantidad_insumo" class="inputCantidad" placeholder="Cantidad">
      </mat-form-field>

      <button mat-mini-fab class="btn_agregarInsumo" (click)="agregarInsumo()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <hr>

    <div class="col-12 contenedorTabla">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Insumo</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of insumosOT">
            <td>{{ item.des_nombre_materiaprima }}</td>
            <td>{{ item.num_cantidad_DMatOT }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="guardarResponsable()">Actualizar</button>
</div>
<br>