<div class="dialogNuevoContenedor">
  <h2 class="tituloDialog d-inline">Definición de Contenedor</h2>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
<br>
<br>
<div class="row">
  <div class="col-12">

    <mat-form-field appearance="fill" class="selectSmall">
      <mat-label>Contenedor</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selectSmall">
      <mat-label>Especie</mat-label>
      <mat-select>
        <mat-option value="option">Manzana</mat-option>
        <mat-option value="option">Cereza</mat-option>
        <mat-option value="option">Duraznos</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selectSmall">
      <mat-label>Variedad</mat-label>
      <mat-select>
        <mat-option value="option">Kordia</mat-option>
        <mat-option value="option">Fuji</mat-option>
        <mat-option value="option">Royal</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr> 
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="fill" class="selectSmall">
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option value="option">Contenedor</mat-option>
          <mat-option value="option">Env. cosecha</mat-option>
          <mat-option value="option">Contenedor/Env. cosecha</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Nombre envase</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Cantidad</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Tara</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-checkbox class="ml-1 mr-3">Tara</mat-checkbox>
      <mat-checkbox>Cta. cte.</mat-checkbox>

      <button matButton class="buttonAdd m-1">
        <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
      </button>
    </div>
  </div>

  <br>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="envase">
      <th mat-header-cell *matHeaderCellDef> Envase </th>
      <td mat-cell *matCellDef="let element"> {{element.envase}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="e_tara">
      <th mat-header-cell *matHeaderCellDef>  Tara </th>
      <td mat-cell *matCellDef="let element"> {{element.e_tara}} </td>
    </ng-container>

    <ng-container matColumnDef="e_cta_cte">
      <th mat-header-cell *matHeaderCellDef> Cta. Cte. </th>
      <td mat-cell *matCellDef="let element"> {{element.e_cta_cte}} </td>
    </ng-container>

    <ng-container matColumnDef="tara">
      <th mat-header-cell *matHeaderCellDef> Peso tara </th>
      <td mat-cell *matCellDef="let element"> {{element.tara}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="justify-content-center text-center mt-3">
  <button mat-fab cdkFocusInitial color="warn" (click)="guardarContenedor()" title="Guardar contenedor" class="btn-check">
    <mat-icon>check</mat-icon>
  </button>
</div>