.dialogNuevoContenedor{
    font-size: 12px;
}
.align-td{
    text-align: right !important;
}
tr{
    width: 10em;
}
/* .ng-star-inserted{
    text-align: center;
  } */
.tituloDialog{
  font-size: 18px;
  font-weight: 600;
  padding-top: 1em;
}
.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}
 
.btnClose .mat-icon{
  font-size: 1em;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: 0;
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}
.selectSmall{
  width: 8.7em;
}

.selectxSmall{
  width: 5.5em;
}
.buttonAdd{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
