<div class="col-md-12 text-center mt-3">
  <!-- <div *ngIf="buscando">

    <h1 class="titleFavoritos">Busqueda</h1>
    <hr>
    <div *ngIf="menuBusqueda.length == 0">
      <p> Sin Resultados. </p>
    </div>
    <button *ngFor="let menu of menuBusqueda" class="style_prevu_kit" (click)="frutagranel()">
      <i class="fas fa-apple-alt"></i>
      <span class="d-block Favs"> {{menu.nombre}} </span>
    </button>

  </div> -->

  <h1 class="titleFavoritos">Favoritos</h1>
  <hr>
  <button class="style_prevu_kit" (click)="frutagranel()"><i class="fas fa-apple-alt"></i><span class="d-block Favs">Recepción Fruta Granel</span></button>
  <button class="style_prevu_kit" (click)="cku()"><i class="fas fa-clipboard-check"></i><span class="d-block Favs">CKU - Recepción</span></button>
  <button class="style_prevu_kit" (click)="frio()"><i class="fas fa-snowflake"></i><span class="d-block Favs">Frío - Recepción</span></button>
  <!-- <button class="style_prevu_kit" (click)="roles()"><i class="fas fa-users"></i><span class="d-block Favs">Roles</span></button> -->
  <button class="style_prevu_kit" (click)="usuarios()"><i class="fas fa-users-cog"></i><span class="d-block Favs">Usuarios</span></button>
  <button class="style_prevu_kit" (click)="envvacios()"><i class="fas fa-box-open"></i><span class="d-block Favs">Recepción
      y despacho Envases vacíos</span></button>
  <button class="style_prevu_kit" (click)="funcionalidades()"><i class="fas fa-users-cog"></i><span class="d-block Favs">Listado pantallas</span></button>
  <button class="style_prevu_kit" (click)="documentos_globales()"><i class="fas fa-file-invoice"></i><span class="d-block Favs">Documentos</span></button>
  <button class="style_prevu_kit" (click)="parametros_logistica()"><i class="fas fas fa-users-cog"></i><span
      class="d-block Favs">Parámetros Logística</span></button>
</div>


