<h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Recepción y despacho de envases vacíos</h1>

<div class="row mt-1 contenedorEnv">
  <div class="col-12 mb-3">
    <mat-radio-group (change)="recepcion_despacho_opciones($event)">
      <!-- <mat-label class="textoTitulos d-block">Modo pesaje</mat-label> -->
      <mat-radio-button value="1" class="d-inline ml-2">Recepción</mat-radio-button>
      <mat-radio-button value="2" class="d-inline ml-2">Despacho</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill">
      <mat-label>Rut</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Razón Social</mat-label>
      <input matInput disabled="true" value="Francisco Muñoz">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nº Guía</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill" *ngIf="mostrarFecha=='1'">
      <mat-label>Fecha Recepción</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="mostrarFecha=='2'">
      <mat-label>Fecha Despacho</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Huerto</mat-label>
      <mat-select>
        <mat-option value="option">Option 1</mat-option>
        <mat-option value="option">Option 2</mat-option>
        <mat-option value="option">Option 3</mat-option>
      </mat-select>
    </mat-form-field> 
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card class="cardRecepcionLinea">

      <mat-form-field appearance="fill" class="selectSmall">
        <mat-label>Envase</mat-label>
        <mat-select>
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall" >
        <mat-label>Peso envase</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label> Cant. Unifrutti</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Cant. Otros</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Total</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <button matButton class="m-1 buttonAdd">
        <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
      </button>
    </mat-card>

    <!-- TABLA GUIA DE RECEPCION -->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="1">
        <th mat-header-cell *matHeaderCellDef> Envase </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="2">
        <th mat-header-cell *matHeaderCellDef> Peso Envase </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="3">
        <th mat-header-cell *matHeaderCellDef> Cant. Unifrutti </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="4">
        <th mat-header-cell *matHeaderCellDef> Cant. Otros</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="5">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table> -->

  </div>
</div>
