<div>
  <h2 class="tituloDialog d-inline">Añadir pantalla</h2>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="justify-content-center">

  <mat-form-field class="mt-2">
    <mat-label>Código</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mt-2">
    <mat-label>Pantalla</mat-label>
    <input matInput>
  </mat-form-field>

</div>

<div mat-dialog-actions class="justify-content-center mt-1 text-center">
  <button mat-fab (click)="onClick()" cdkFocusInitial title="Aceptar" class="btn-check">
    <mat-icon>check</mat-icon>
  </button>
</div>