

  <p class="titulos">Documentos del vehículo (Vencimiento)</p>
  <mat-form-field class="vencimientos">
    <input matInput [matDatepicker]="picker1" placeholder="Revisión Técnica" [(ngModel)]="_revision_tecnica">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="vencimientos ml-2">
    <input matInput [matDatepicker]="picker2" placeholder="Revisón de Gases" [(ngModel)]="_revision_gases">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="vencimientos ml-2">
    <input matInput [matDatepicker]="picker3" placeholder="Permiso de Circulación" [(ngModel)]="_permiso_circulacion">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="vencimientos ml-2">
    <input matInput [matDatepicker]="picker4" placeholder="Seguro Obligatorio" [(ngModel)]="_seguro_obligatorio">
    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
    <mat-datepicker #picker4></mat-datepicker>
  </mat-form-field>

  <br>
  <button mat-raised-button class="btn-estado-vehiculo" color='primary' [disabled]="_enviado" (click)="guardarDoc()">Guardar</button>
  <button mat-raised-button class="btn-estado-vehiculo" (click)="cerrar()">Cancelar</button>
  <br>
