<section class="content home">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <h2>Safe Report
            <small>Bienvenido a SafeReport</small>
          </h2>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 text-right">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active">Planilla QC</li>
            <li class="breadcrumb-item active">Planilla QC</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="card">
            <div class="header">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="header">
                        <h2>
                          <strong>Planilla</strong> de recepcion Cerezas
                        </h2>
                        <ul class="header-dropdown" *ngIf="false">
                          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="javascript:void(0);">Action</a></li>
                              <li><a href="javascript:void(0);">Another action</a></li>
                              <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                          </li>
                          <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                          </li>
                        </ul>
                      </div>
                      <!-- BOTONES HEAD -->
                      <button type="button" routerLink="/qcrecepcion/listadoqc" class="btn btn-raised btn-default btn-round waves-effect">VOLVER</button>
                      <button type="button" (click)="guardar()" *ngIf="bitGuardar"
                      class="btn btn-raised btn-primary btn-round waves-effect" [disabled]="spinner"><i *ngIf="spinner" class="fas fa-spinner fa-spin"></i> {{ btnPrimary }}</button>
                      <button type="button" (click)="editar()" *ngIf="bitEditar"
                      class="btn btn-raised btn-success btn-round waves-effect" [disabled]="spinner2"><i *ngIf="spinner2" class="fas fa-spinner fa-spin"></i> FINALIZAR</button>
                      <!-- <button type="button" (click)="print()" *ngIf="bitEditar"
                      class="btn btn-raised btn-info btn-round waves-effect"><i class="fas fa-print"></i> IMPRIMIR</button> -->

                      <!-- FORMULARIO -->
                        <div class="body">
                          <div class="row clearfix">
                            <div class="col-md-12">
                              <div class="example-container">

                                <div class="row">
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Planta" [value]="_Planta" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Nº Lote" [value]="_Nlote" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Fecha Recepcion" [value]="_FechaRecepcion" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Nº Bandejas" [value]="_NBandejas" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Nombre Productor" [value]="_NombreProductor" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Total kilos" [value]="_TotalKilos" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Código Productor" [value]="_CodigoProductor" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Hora de llegada" [value]="_HoraLLegada" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Variedad" [value]="_Variedad" disabled>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <mat-select placeholder="Tipo Proceso" [(value)]="_TipoOrden" [disabled]="bitEditar">
                                        <mat-option *ngFor="let item of _DataSourceTipoProceso"
                                        [value]="item.COD_TPROC">{{ item.DES_TPROC }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <!-- <div style="height: 20px">
                                      <mat-spinner></mat-spinner>
                                    </div> -->
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input [(ngModel)]="_TPulpa" matInput placeholder="Tº de Pulpa" [disabled]="bitEditar">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <input [(ngModel)]="_CantidadFrutos" matInput placeholder="Cantidad de Frutos" [disabled]="bitEditar">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <mat-select placeholder="Aptitud Guarda" [(value)]="_TipoAG">
                                        <mat-option *ngFor="let item of _DataSourceAptitudGuarda"
                                        [value]="item.cod_aptitudguarda">{{ item.des_aptitudguarda }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field>
                                      <mat-select placeholder="Segregacion" [(value)]="_TipoSeg">
                                        <mat-option *ngFor="let item of _DataSourceSegregacion"
                                        [value]="item.Id_Segregacion">{{ item.Des_Segregacion }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div> <!-- .Encabezado fijo -->
                                <hr>
                                <div *ngIf="bitOK">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <h2>Condicion de Transporte</h2>
                                      <table class="mt-4">
                                        <tr *ngFor="let item of _DataSourceCondicionTransporte">
                                          <td>{{ item.codigo_condicion }} {{ item.descripcion }}</td>
                                          <td><mat-slide-toggle (change)="changeCondicionTransporte(item)" checked="{{ item.ok }}" class="ml-5"></mat-slide-toggle></td>
                                        </tr>
                                      </table>
                                    </div>
                                    <div class="col-md-6" *ngIf="false">
                                      <h2>Evaluacion General</h2>
                                      <div class="mb-4"></div>
                                      <table class="table table-bordered">
                                        <tr>
                                          <th>Destino</th>
                                          <th class="text-center">Unidades</th>
                                          <th class="text-center">%</th>
                                        </tr>
                                        <tr *ngFor="let item of _DataSourceEvaluacionGeneral">
                                          <td>{{ item.des_destin }}</td>
                                          <td class="text-center">
                                            <!-- <input matInput placeholder=""> -->
                                            <input
                                              type="text"
                                              class="form-control"
                                              [value]="item.cantidad"
                                              (focus)="reset( item.cantidad, 1 )"
                                              (input)="setEvaluacionGeneral($event.target.value)"
                                              (focusout)="focusOutEvaluacionGeneral( item )">
                                          </td>
                                          <td class="text-center">
                                            {{ item.porc }}
                                          </td>
                                        </tr>
                                      </table>
                                      <p class="mt-4 text-center"
                                      *ngIf="_DataSourceEvaluacionGeneral.length == 0  && !cargandoEvaluacionGeneral">{{ textoEvaluacionGeneral }}</p>
                                      <mat-spinner *ngIf="cargandoEvaluacionGeneral"></mat-spinner>
                                    </div>
                                  </div> <!-- .Condicion y evaluacion -->
                                  <hr>
                                  <div class="row">
                                    <div class="col-md 4">
                                      <h2>Distribución de Calibre</h2>
                                      <div class="mb-4"></div>
                                        <table class="table table-bordered">
                                          <tr>
                                            <th class="text-center">Serie</th>
                                            <th class="text-center">Código</th>
                                            <th class="text-center">Calibre</th>
                                            <th class="text-center">Unidades</th>
                                            <th class="text-center">%</th>
                                          </tr>
                                          <tr *ngFor="let item of _DataSourceDistribucionCalibre; let i=index">
                                            <td>{{ item.Des_serie_Serie }}</td>
                                            <td class="text-center">{{ item.Cod_Serie_Serie }}</td>
                                            <td class="text-center">{{ item.Ran_Serie_Serie }}</td>
                                            <td class="text-center">
                                              <input type="text"
                                              class="form-control"
                                              [value]="item.cantidad"
                                              (focus)="reset( item.cantidad, 2 )"
                                              (input)="setDistribucionCalibre($event.target.value)"
                                              (focusout)="focusOutDistribucionCalibre( item )">
                                            </td>
                                            <td class="text-center">{{ item.porc }}</td>
                                          </tr>
                                          <tr>
                                            <td colspan="4" class="text-right">Porcentaje Total:</td>
                                            <td>{{ PorcDistribucionCalibre }}</td>
                                          </tr>
                                        </table>
                                        <p class="mt-4 text-center"
                                        *ngIf="_DataSourceDistribucionCalibre.length == 0  && !cargandoDistribucionCalibre">{{ textoDistribucionCalibre }}</p>
                                        <mat-spinner *ngIf="cargandoDistribucionCalibre"></mat-spinner>
                                    </div>
                                    <div class="col-md 4">
                                      <h2>Evaluación Firmeza</h2>
                                      <div class="mb-4"></div>
                                      <div class="row">
                                        <div class="col-3" *ngFor="let item of _DataSourceFirmeza">
                                          <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.cantidad"
                                            (focus)="reset( item.cantidad, 3 )"
                                            (input)="setFirmeza($event.target.value)"
                                            (focusout)="focusOutFirmeza( item )">
                                        </div>
                                        <div class="col-12">
                                          <p class="mt-4 text-center"
                                          *ngIf="_DataSourceFirmeza.length == 0  && !cargandoEvaluacionfirmeza">{{ textoEvaluacionFirmeza }}</p>
                                          <mat-spinner *ngIf="cargandoEvaluacionfirmeza"></mat-spinner>
                                        </div>
                                        <div class="col-3 mt-2 push-6">
                                          <b class="mt-2">PROMEDIO:</b>
                                        </div>
                                        <div class="col-3 push-6">
                                          <input
                                            type="text"
                                            class="form-control mt-1"
                                            [value]="FirmezaProm">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md 4">
                                      <h2>Evaluación Color</h2>
                                      <div class="mb-4"></div>
                                      <table class="table table-bordered">
                                        <tr>
                                          <th>Color</th>
                                          <th>Unidades</th>
                                          <th class="text-center">%</th>
                                        </tr>
                                        <tr *ngFor="let item of _DataSourceEvaluacionColor">
                                          <td>{{ item.cod_eva_color }} {{ item.des_eva_color }}</td>
                                          <td class="text-center">
                                            <input type="text"
                                              class="form-control"
                                              [value]="item.cantidad"
                                              (focus)="reset( item.cantidad, 4 )"
                                              (input)="setEvaluacionColor($event.target.value)"
                                              (focusout)="focusOutEvaluacionColor( item )"></td>
                                          <td class="text-center">{{ item.porc }}</td>
                                        </tr>
                                        <tr>
                                          <td colspan="2" class="text-right">Porcentaje Total:</td>
                                          <td>{{ PorcEvaluacionColor }}</td>
                                        </tr>
                                      </table>
                                      <p class="mt-4 text-center"
                                      *ngIf="_DataSourceEvaluacionColor.length == 0  && !cargandoEvaluacionColor">{{ textoEvaluacionColor }}</p>
                                      <mat-spinner *ngIf="cargandoEvaluacionColor"></mat-spinner>
                                    </div>
                                  </div> <!-- .Distribucion, evaluacion firmeza y color -->
                                  <hr>
                                  <div class="row">
                                    <div class="col-md-10">
                                      <h2>Sólidos Solubles</h2>
                                      <div class="mb-4"></div>
                                      <table class="table table-bordered">
                                        <tr>
                                          <th>Color</th>
                                          <th class="text-center">1</th>
                                          <th class="text-center">2</th>
                                          <th class="text-center">3</th>
                                          <th class="text-center">4</th>
                                          <th class="text-center">5</th>
                                          <th class="text-center">6</th>
                                          <th class="text-center">7</th>
                                          <th class="text-center">8</th>
                                          <th class="text-center">9</th>
                                          <th class="text-center">10</th>
                                          <th class="text-center">Promedio</th>
                                        </tr>
                                        <tr *ngFor="let item of _DataSourceSolidosSolubles">
                                          <td style="width: 200px">{{ item.cod_eva_color }} {{ item.color }}</td>
                                          <td class="text-center">
                                            <input
                                              type="text"
                                              class="form-control"
                                              [value]="item.M1"
                                              (focus)="reset( item.M1, 5 )"
                                              (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 1 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M2"
                                            (focus)="reset( item.M2, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 2 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M3"
                                            (focus)="reset( item.M3, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 3 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M4"
                                            (focus)="reset( item.M4, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 4 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M5"
                                            (focus)="reset( item.M5, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 5 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M6"
                                            (focus)="reset( item.M6, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 6 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M7"
                                            (focus)="reset( item.M7, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 7 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M8"
                                            (focus)="reset( item.M8, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 8 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M9"
                                            (focus)="reset( item.M9, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 9 )"></td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.M10"
                                            (focus)="reset( item.M10, 5 )"
                                            (input)="setSolidosSolubles($event.target.value)"
                                            (focusout)="focusOutSolidosSolubles( item, 10 )"></td>
                                          <td class="text-center">
                                            {{ item.promedio }}
                                          </td>
                                        </tr>
                                      </table>
                                      <p class="mt-4 text-center"
                                      *ngIf="_DataSourceSolidosSolubles.length == 0  && !cargandoSolidosSolubles">{{ textoSolidosSolubles }}</p>
                                      <mat-spinner *ngIf="cargandoSolidosSolubles"></mat-spinner>
                                    </div>
                                  </div> <!-- .Solidos solubles -->
                                  <hr>
                                  <div class="row">
                                    <div class="col-md-12 mb-4">
                                      <h2>Defectos y estimación de embalaje</h2>
                                    </div>
                                    <div class="col-md 6">
                                      <table class="table table-bordered">
                                        <tr>
                                          <th>Defectos de Calidad</th>
                                          <th>Unidades</th>
                                          <th class="text-center">%</th>
                                        </tr>
                                        <tr *ngFor="let item of _DataSourceDefectosCalidad">
                                          <td style="width: 300px">{{ item.des_punto_control }}</td>
                                          <td class="text-center">
                                            <input
                                              type="text"
                                              class="form-control"
                                              [value]="item.cantidad"
                                              (focus)="reset( item.cantidad, 6 )"
                                              (input)="setDefectosCalidad($event.target.value)"
                                              (focusout)="focusOutDefectosCalidad( item )"></td>
                                          <td>{{ item.porc }}</td>
                                        </tr>
                                        <tr>
                                          <td>Total</td>
                                          <td>{{ Total1 }}</td>
                                          <td>{{ TotalPorc1 | number:'2.1-5' }}</td>
                                        </tr>
                                      </table>
                                      <p class="mt-4 text-center"
                                      *ngIf="_DataSourceDefectosCalidad.length == 0  && !cargandoDefectosCalidad">{{ textoDefectosCalidad }}</p>
                                      <mat-spinner *ngIf="cargandoDefectosCalidad"></mat-spinner>
                                    </div>
                                    <div class="col-md 6">
                                      <table class="table table-bordered">
                                        <tr>
                                          <th>Defectos de Condición</th>
                                          <th>Unidades</th>
                                          <th class="text-center">%</th>
                                        </tr>
                                        <tr *ngFor="let item of _DataSourceDefectosCondicion">
                                          <td style="width: 300px">{{ item.des_punto_control }}</td>
                                          <td class="text-center">
                                            <input
                                            type="text"
                                            class="form-control"
                                            [value]="item.cantidad"
                                            (focus)="reset( item.cantidad, 7 )"
                                            (input)="setDefectosCondicion($event.target.value)"
                                            (focusout)="focusOutDefectosCondicion( item )"></td>
                                          <td>{{ item.porc }}</td>
                                        </tr>
                                        <tr>
                                          <td>Total</td>
                                          <td>{{ Total2 }}</td>
                                          <td>{{ TotalPorc2 | number:'2.1-5' }}</td>
                                        </tr>
                                      </table>
                                      <p class="mt-4 text-center"
                                      *ngIf="_DataSourceDefectosCondicion.length == 0  && !cargandoDefectosCondicion">{{ textoDefectosCondicion }}</p>
                                      <mat-spinner *ngIf="cargandoDefectosCondicion"></mat-spinner>
                                    </div>
                                  </div> <!-- .Defectos y estimacion -->
                                  <div class="mt-4"></div>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <table class="table table-bordered">
                                        <tr>
                                          <td>Total Defectos</td>
                                          <td class="text-center">{{ (TotalPorc1 + TotalPorc2) | number:'2.1-5' }}</td>
                                        </tr>
                                        <tr>
                                          <td style="width: 300px">% Exportacion</td>
                                          <td class="text-center">{{ 100 - (TotalPorc1 + TotalPorc2) | number:'2.1-5'}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>  <!-- .Total -->
                                  <div class="mt-5"></div>
                                  <div class="row">
                                    <div class="col-md-12 mb-4">
                                      <h2>Observaciones</h2>
                                    </div>
                                    <div class="col-md-12">
                                      <mat-form-field class="example-full-width">
                                        <textarea [(ngModel)]="_Glosa" matInput placeholder="Observacion"></textarea>
                                      </mat-form-field>
                                    </div>
                                  </div> <!-- .Observacion -->
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      <!-- .FORMULARIO -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
