<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>
<!-- BUSCADOR -->
<mat-form-field class="buscador" *ngIf="mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<mat-form-field class="buscador" *ngIf="!mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter2($event.target.value)">
</mat-form-field>

<!-- slider toggle -->
<div class="row">
  <div class="col-12">
    <span>Pendientes <mat-slide-toggle (toggleChange)="onToggleChange2()" [ngClass]="{'active': isActive}">Cerradas</mat-slide-toggle></span>
  </div>
  <br>
  <br>
  <div class="col-12" *ngIf="mostrarTabla">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Listado Recepciones pendientes</h1>
  </div>
  <div class="col-12" *ngIf="!mostrarTabla">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Listado Recepciones cerradas</h1>
  </div>
</div>

<!-- TABLA  -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla">

  <!-- <ng-container matColumnDef="temporada">
    <th mat-header-cell *matHeaderCellDef> Temporada </th>
    <td mat-cell *matCellDef="let element"> {{element.temporada}} </td>
  </ng-container> -->

  <ng-container matColumnDef="guia">
    <th mat-header-cell *matHeaderCellDef> Guía Recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.GuiaRec}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_productor">
    <th mat-header-cell *matHeaderCellDef> Razón Social </th>
    <td mat-cell *matCellDef="let element"> {{element.RazonSocialProductor}} </td>
  </ng-container>

  <ng-container matColumnDef="huerto">
    <th mat-header-cell *matHeaderCellDef> Huerto desc.</th>
    <td mat-cell *matCellDef="let element"> {{element.NombreHuerto}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_especie">
    <th mat-header-cell *matHeaderCellDef> Especie </th>
    <td mat-cell *matCellDef="let element"> {{element.NombreEspecie}} </td>
  </ng-container>

  <ng-container matColumnDef="guia_productor">
    <th mat-header-cell *matHeaderCellDef> Guía productor </th>
    <td mat-cell *matCellDef="let element"> {{element.GuiaProd}} </td>
  </ng-container>

  <ng-container matColumnDef="patente">
    <th mat-header-cell *matHeaderCellDef> Patente(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.Patentes}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Imprimir transitoria</span>
        </button>
        <button mat-menu-item (click)="envSalida()">
          <mat-icon><i class="fas fa-sign-out-alt"></i></mat-icon>
          <span>Envase salida</span>
        </button>
        <button mat-menu-item (click)="destare()">
          <mat-icon><i class="fas fa-weight"></i></mat-icon>
          <span>Destarar</span>
        </button>
        <button mat-menu-item (click)="trazabilidad()">
          <mat-icon><i class="fas fa-route"></i></mat-icon>
          <span>Trazabilidad</span>
        </button>
        <button mat-menu-item (click)="trazabilidad()">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner> -->

<!-- TABLA 2 -->
<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" *ngIf="!mostrarTabla">

  <!-- <ng-container matColumnDef="temporada">
    <th mat-header-cell *matHeaderCellDef> Temporada </th>
    <td mat-cell *matCellDef="let element"> {{element.temporada}} </td>
  </ng-container> -->

  <ng-container matColumnDef="guia">
    <th mat-header-cell *matHeaderCellDef> Guía Recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_productor">
    <th mat-header-cell *matHeaderCellDef> Razón Social </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="huerto">
    <th mat-header-cell *matHeaderCellDef> Huerto desc.</th>
    <td mat-cell *matCellDef="let element"> {{element.huerto}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_especie">
    <th mat-header-cell *matHeaderCellDef> Especie </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_especie}} </td>
  </ng-container>

  <ng-container matColumnDef="guia_productor">
    <th mat-header-cell *matHeaderCellDef> Guía productor </th>
    <td mat-cell *matCellDef="let element"> {{element.guia_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="patente">
    <th mat-header-cell *matHeaderCellDef> Patente(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.patente}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Re imprimir recepción final</span>
        </button>
        <button mat-menu-item (click)="trazabilidad()">
          <mat-icon><i class="fas fa-route"></i></mat-icon>
          <span>Trazabilidad</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- PAGINADOR DE TABLA -->
<mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>

<div class="btn-plus">
  <button mat-fab title="Añadir CKU" color="warn" class="btn-add" (click)="agregar()">
    <mat-icon>add</mat-icon>
  </button>
</div>
