<nav class="main-menu">
  <ul class="optionsMenu">
    <li>
      <a class="firstText mb-3" (click)="favoritos()">
        <span class="nav-text p-1">
          <i class="fas fa-star"></i> Favoritos
        </span>
      </a>
    </li>

    <li *ngFor="let raiz of arr_parcial;let ind = index" [ngStyle]="{'margin-left':raiz.left + 'px'}" class="item_menu"
      (click)="expandir(ind)">
      <a [ngClass]=" {'ultimoElemento': raiz.ultimo_elemento} " class="boton_menu">
        <mat-icon class="iconoMenu" *ngIf="!raiz.ultimo_elemento">menu</mat-icon>
        <mat-icon *ngIf="raiz.ultimo_elemento"></mat-icon>
        <span class="nav-text">
          {{raiz.nombre}}
        </span>
      </a>
    </li>
  </ul>

  <div class="contenedorTitleNavbar">
    <pre class="rotar"> {{ titulo }} </pre>
  </div>

  <ul class="logout">
    <li>
      <a (click)="logout()">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Cerrar Sesión
        </span>
      </a>
    </li>
  </ul>
</nav>