
.optionsMenu{
  /* overflow: hidden; */
}

.item_menu {
  width: auto;
}

/* .ultimoElemento {
  background-color: rgb(42, 60, 107);
} */
.iconoMenu{
  color: white;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 8px;
}
