<div class="contenedor">

  <app-encabezado></app-encabezado>

  <div class="col-12 mb-3 mt-2">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Totales </h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-xl-2 col-l-3">
      <p class="ml-5"><strong>Entrada</strong></p>
      <mat-form-field appearance="fill">
        <mat-label>Peso bruto</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Peso envases</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Peso E/S</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">
      <p class="ml-5"><strong>Salida</strong></p>
      <mat-form-field appearance="fill">
        <mat-label>Peso bruto</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso envases</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso E/S</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">

    </div>

  </div>


  <div class="row mt-1">
    <div class="col-12 ml-1">
      <!-- DATOS PARA GUIA DE RECEPCION  -->
      <div class="contenedorDestare">
        <mat-card color="primary" class="titleEnvases">Control de Tara de salida</mat-card>
        <mat-card class="cardRecepcionLinea">

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label>Especie</mat-label>
            <mat-select>
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectSmall">
            <mat-label>Variedad</mat-label>
            <mat-select>
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Peso bruto</mat-label>
            <input matInput>
          </mat-form-field>

          <button matButton class="buttonAdd">
            <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
          </button>

        </mat-card>


        <!-- TABLA GUIA DE RECEPCION -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef> Especie</th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef> Variedad </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef> Peso bruto </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- botones flotantes -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/pantallacku']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab title="Guardar cambios" class="btn-add" color="warn" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>