<nav class="main-menu">
  <ul class="optionsMenu">
    <li>
      <a class="firstText mb-3" (click)="favoritos()">
        <span class="nav-text p-1">
          <i class="fas fa-star"></i> Favoritos
        </span>
      </a>
    </li>
    <li *ngFor="let item of menuItem">
      <a>
        <span class="nav-text pr-2 pb-1 pl-1" (click)="abrirPantalla(item)">
          {{ item.nombre }}
        </span>
      </a>
    </li>
  </ul>

  <div class="contenedorTitleNavbar">
    <pre class="rotar"> {{ titulo }} </pre>
  </div>

  <ul class="logout">
    <li>
      <a (click)="logout()">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Cerrar Sesión
        </span>
      </a>
    </li>
  </ul>
</nav>
