<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="material-icons">
        local_parking
      </i>
      <span class="estacionamiento">{{titulo}} </span>
      <span>{{ horaActual | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="row">
    <div class="col-7 text-center">

      <h4 class="titulos">Despachar vehículo</h4>
      <form name="form" (ngSubmit)="f.form.valid && despacharFirebase()" #f="ngForm" novalidate>
        <mat-form-field appearance="outline" class="input-codigo">
          <mat-label>Ingrese código</mat-label>
          <input #codigo_input matInput maxlength="13" placeholder="Código" [(ngModel)]="codigoEscan" name="codigo"
            (ngModelChange)="buscarRegistroFirebase(codigoEscan)" autofocus>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Ingrese código a despachar</mat-hint>
        </mat-form-field>
        <br>
        <!-- <mat-form-field appearance="outline" class="input-muestra">
          <mat-label>Tiempo transcurrido</mat-label>
          <input [disabled]=true maxlength="50" [(ngModel)]="tiempo" name="tiempo" matInput
            placeholder="Tiempo transcurrido">
        </mat-form-field>
        <br> -->
        <!-- <mat-form-field appearance="outline" class="input-muestra">
          <mat-label>Patente</mat-label>
          <input [(ngModel)]="transaccion.patente" name="patente" matInput placeholder="Patente" [disabled]=true>
        </mat-form-field>
      <br> -->
        <mat-form-field appearance="outline" class="input-muestra">
          <mat-label>Fecha de ingreso</mat-label>
          <input [(ngModel)]="transaccion.fechaIngreso" name="f_ingreso" matInput placeholder="Fecha ingreso"
            [disabled]=true>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-muestra">
          <mat-label>Hora de ingreso</mat-label>
          <input [(ngModel)]="transaccion.horaIngreso" name="h_ingreso" matInput placeholder="Hora ingreso"
            [disabled]=true>
        </mat-form-field>
        <br>
        <!-- <mat-form-field appearance="outline" *ngIf="estado" class="input-muestra">
          <mat-label>Fecha de salida</mat-label>
          <input [(ngModel)]="transaccion.fechaSalida" name="f_salida" matInput placeholder="Fecha salida"
            [disabled]=true>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" *ngIf="estado" class="input-muestra">
          <mat-label>Hora de salida</mat-label>
          <input [(ngModel)]="transaccion.horaSalida" name="h_salida" matInput placeholder="Hora salida"
            [disabled]=true>
        </mat-form-field>
        <br> -->
        <!-- <mat-form-field appearance="outline" *ngIf="estado" class="input-muestra">
          <mat-label>Total de pago</mat-label>
          <input [(ngModel)]="transaccion.pago" name="pago" matInput placeholder="Total pago" [disabled]=true>
        </mat-form-field> -->
        <!-- <br> -->
        <!-- <mat-form-field appearance="outline" class="input-total">
          <mat-label>Total a pagar</mat-label>
          <input [disabled]=true maxlength="13" [(ngModel)]="total_cobro" name="total" matInput
            placeholder="Total a pagar">
        </mat-form-field> -->

        <div class="despachar">
          <button matTooltip="Generar despacho" [disabled]="!encontrado" color="warn" mat-raised-button>Despachar
            vehículo</button>
        </div>
        <div class="text-center">
          <mat-spinner *ngIf="mostrarCarga" style="margin:0 auto;" color="accent" strokeWidth="3" [diameter]="50">
          </mat-spinner>
        </div>
      </form>
    </div>

    <div class="col-5" align="left">
      <mat-card *ngIf="encontrado">
        <p class="tiempo">{{ transaccion.patente }}</p>
        <hr>
        <p class="precio">${{ total_cobro}}</p>
        <hr>
        <p class="tiempo">{{ tiempo }}</p>
      </mat-card>

      <div class="contenedorImagen">
        <img *ngIf="imagen64" class="imagen" [src]="imagen64">
      </div>
    </div>
  </div>