mat-toolbar-row {
    justify-content: space-between;
}
.row{
  padding: 0;
  margin: 0;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 5px 0 5px 0;
  border-top: 2px;
}
input.mat-input-element{
  margin-top: 5px !important;
}
.input-codigo{
  width: 20em;
  padding-left: 8%;
  padding-bottom: 15px;
}
.titulos{
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 16px;
}
.input-muestra, .input-total{
  padding-left: 8%;
  width: 25em;
}
.despachar{
  padding-left: 8%;
}

.contenedorImagen{
  max-width: 25em;
  text-align: center; 
}
.imagen{
   width: 300px;
   height: 180px; 
   margin-top: 1em;
}

.precio{
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  
}
.tiempo{
  font-size: 27px;
  font-weight: 600; 
  text-align: center;
}
mat-card{
  margin-top: 3em;
  background-color: rgb(245, 222, 122);
  max-width: 25em;
}
