<!-- BUSCADOR -->
<mat-form-field class="buscador" *ngIf="mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<mat-form-field class="buscador" *ngIf="!mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter2($event.target.value)">
</mat-form-field>

<!-- slider toggle -->
<div class="row">
  <div class="col-12">
    <span>Pendientes <mat-slide-toggle (toggleChange)="onToggleChange($event)" [ngClass]="{'active': isActive}">
        Realizadas</mat-slide-toggle></span>
  </div>
  <br>
  <br>
  <div class="col-12" *ngIf="mostrarTabla">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Listado recepciones sin CKU</h1>
  </div>
  <div class="col-12" *ngIf="!mostrarTabla">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Listado recepciones con CKU</h1>
  </div>
</div>

<!-- TABLA  -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla">

  <ng-container matColumnDef="guia">
    <th mat-header-cell *matHeaderCellDef> Guía Recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.fec_recepcion}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_productor">
    <th mat-header-cell *matHeaderCellDef> Razón Social </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="huerto">
    <th mat-header-cell *matHeaderCellDef> Huerto desc.</th>
    <td mat-cell *matCellDef="let element"> {{element.huerto}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_especie">
    <th mat-header-cell *matHeaderCellDef> Especie </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_especie}} </td>
  </ng-container>

  <ng-container matColumnDef="guia_productor">
    <th mat-header-cell *matHeaderCellDef> Guía productor </th>
    <td mat-cell *matCellDef="let element"> {{element.guia_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="patente">
    <th mat-header-cell *matHeaderCellDef> Patente(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.patente}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="ckuTabla(element)">
          <mat-icon>check</mat-icon>
          <span>CKU</span>
        </button>
        <button mat-menu-item (click)="imprimirFolio()">
          <mat-icon>print</mat-icon>
          <span>Imprimir folio bins</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner> -->

<!-- TABLA 2 -->
<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" *ngIf="!mostrarTabla">

  <ng-container matColumnDef="guia">
    <th mat-header-cell *matHeaderCellDef> Guía Recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.fec_recepcion}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_productor">
    <th mat-header-cell *matHeaderCellDef> Razón Social </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="huerto">
    <th mat-header-cell *matHeaderCellDef> Huerto desc.</th>
    <td mat-cell *matCellDef="let element"> {{element.huerto}} </td>
  </ng-container>

  <ng-container matColumnDef="cod_especie">
    <th mat-header-cell *matHeaderCellDef> Especie </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_especie}} </td>
  </ng-container>

  <ng-container matColumnDef="guia_productor">
    <th mat-header-cell *matHeaderCellDef> Guía productor </th>
    <td mat-cell *matCellDef="let element"> {{element.guia_productor}} </td>
  </ng-container>

  <ng-container matColumnDef="patente">
    <th mat-header-cell *matHeaderCellDef> Patente(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.patente}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Imprimir folio bins</span>
        </button>
        <button mat-menu-item (click)="ckuTabla(element)">
          <mat-icon>check</mat-icon>
          <span>CKU</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- PAGINADOR DE TABLA -->
<mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>