<div *ngIf="home">
    <app-navbar (propagar)="procesaPropagar($event)"></app-navbar>

    <app-sidenav #sidenav></app-sidenav>

    <!-- <app-confignav></app-confignav>  -->
    <div class="containerPrincipal">
        <router-outlet></router-outlet>
    </div>
</div>

<app-login *ngIf="!home"></app-login>


