<br>
<p class="titulo">Agregar actividad</p>

<div class="contenedorTabla">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Descripción actividad</th>
        <th scope="col">Valor</th>
        <th scope="col">¿Es mantención programada?</th>
        <th scope="col" class="text-center"><button mat-mini-fab class="btn-add" (click)="agregar_actividad()">
            <mat-icon>add</mat-icon>
          </button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let act of lista_actividades; let ind = index">
        <td> {{act.des_tarea}} </td>
        <td> {{act.num_valor_snapTareaActVehi}} </td>
        <td> {{act.bit_programada_detTareaManVehi ? 'SI' : 'NO'}} </td>
        <td class="text-center">
          <button class="btn-delete" (click)="openDialogBorrar(ind)">
            <mat-icon>delete</mat-icon>
          </button></td>
      </tr>
    </tbody>
  </table>

  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Total</th>
        <th scope="col"> {{ suma_total }} </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <!-- <mat-spinner  [diameter]="50"></mat-spinner> -->
</div>

<button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="['/recepcion/img_recepcion',_patente]">
  <mat-icon>arrow_back</mat-icon>
</button>

<button mat-fab title="Finalizar" class="btn-finalizar" (click)="finalizar()">
  <mat-icon>check</mat-icon>
</button>