
.btn-finalizar{
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  color: white;
  outline: none;
  display: inline;
  background-color: #689F38 !important;
}

.btn-volver{
  position: fixed;
  color: white;
  bottom: 2.5em;
  left: 2.5em;
  outline: none;
  display: inline;
}

.titulo{
    font-size: 14px;
    font-weight: 600;
    margin-left: 1vw;
}

.contenedorTabla{
    margin-top: 1em;
    justify-content: center;
    justify-items: center;
    font-size: 12px;
}

.table{
    max-width: 98vw;
    margin: auto;
    border: 1px solid rgb(180, 180, 180, 0.5);
}

.table tbody tr:hover{
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005); 
  transition: all .3s ease-in-out;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

.btn-add{
    background-color: #689F38;
    width: 29px;
    height: 29px;
    outline: none;
}

.btn-add mat-icon{
    font-size: 15px;
    margin-top: -3px;
}

.btn-edit{
    color: gray;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer
}

.btn-delete{
    color: gray;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer
}

.btn-edit:hover, .btn-delete:hover{
    color: rgb(107, 58, 114);
    transform: scale(1.2); 
    transition: all .3s ease-in-out;
}

.btn-edit mat-icon, .btn-delete mat-icon{
    font-size: 20px !important;
}



