<!-- usuario -->
<mat-card class="card">
    <p class="d-inline titulorol">Usuario: {{ user }}</p>
    <button mat-icon-button class="botonCopiar" [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item [matMenuTriggerFor]="desdeUsuario">
        <mat-icon>insert_drive_file</mat-icon>
        <span>Copiar desde Usuario</span>
      </button>

      <!-- <button mat-menu-item [matMenuTriggerFor]="desdeRoles" >
        <mat-icon>insert_drive_file</mat-icon>
        <span>Copiar desde Rol</span>
      </button> -->
    </mat-menu>

    <mat-menu #desdeUsuario="matMenu">
        <button mat-menu-item *ngFor="let usuario of ListUsuarios" (click)="copiarDesdeUsuario(usuario.id)">{{ usuario.nombre }}</button>
    </mat-menu>

    <mat-menu #desdeRoles="matMenu">
        <button mat-menu-item *ngFor="let rol of ListRoles" (click)="copiarDesdeRoles(rol.id)">{{ rol.nombre }}</button>
    </mat-menu>
  </mat-card>

  <!-- selects de exportadora y planta-->
  <div class="contenedorFuncionalidades mt-4">
    <mat-form-field appearance="fill">
      <mat-label>Exportadora</mat-label>
      <mat-select  [(ngModel)]="exportadoraSeleccionada" (selectionChange)="selectExportadora()" >
        <mat-option *ngFor="let exportadora of exportadoras" [value]="exportadora.id">{{exportadora.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Planta</mat-label>
      <mat-select  [(ngModel)]="planta" (selectionChange)="selectPlanta()">
        <mat-option *ngFor="let planta of plantas" [value]="planta.id">{{planta.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- select DE MENUS -->
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar Menú</mat-label>
      <mat-select [disabled]="!planta || !exportadoraSeleccionada"  (selectionChange)="selectMenu($event.value)" [(ngModel)]="menuSeleccionado">
        <mat-option *ngFor="let menu of menus_principal" [value]="menu.id" >{{menu.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <hr>

  <div class="row">
    <div class="col-12 text-center">
      <button [disabled]="menuSeleccionado == ''" mat-button title="Agregar Permisos" color="primary" style="font-size:12px;" (click)="agregarTodosPermisos()">
      <mat-icon>save</mat-icon>
      Agregar Todos los Permisos
    </button>
    </div>
  </div>

    <!-- botones flotantes -->
    <div class="btn-plus2">
      <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/usuarioslistado']">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="btn-plus">
      <button mat-fab matTooltip="Finalizar cambios" class="btn-add" color="warn" (click)="guardar()">
        <mat-icon>check</mat-icon>
      </button>
    </div>


<div class="content_check">
  <div *ngFor="let raiz of arr_parcial;let ind = index" style="display: flex;padding:5px; " [ngStyle]="{'margin-left':raiz.left + 'px'}" >
    <!-- <div  [ngStyle]="{'margin-left':raiz.left + 'px'}" *ngIf="raiz.ultimo_elemento"></div> -->
    <mat-icon *ngIf="raiz.ultimo_elemento && !raiz.funcionalidad"  (click)="expandirMenuFuncionalidad(ind)" class="icon-expandir"> menu  </mat-icon>
    <mat-icon *ngIf="!raiz.ultimo_elemento" (click)="expandirMenu(ind)" class="icon-expandir"> {{ raiz.expandido?'keyboard_arrow_down':'keyboard_arrow_right'  }}  </mat-icon>

    <mat-checkbox [disabled]="!raiz.ultimo_elemento" [indeterminate]="raiz.indeterminate"  *ngIf="!raiz.funcionalidad"   [(ngModel)]="raiz.check" (change)="cambios($event)" (click)="check(!raiz.check,ind,raiz.level)" >
      {{ raiz.id + raiz.nombre}}
    </mat-checkbox>

    <mat-checkbox [ngStyle]="{'margin-left':raiz.left + 'px'}" [indeterminate]="raiz.indeterminate" *ngIf="raiz.funcionalidad"  [(ngModel)]="raiz.check" (click)="check(!raiz.check,ind,raiz.level)" >
        {{ raiz.nombre}}
    </mat-checkbox>

  </div>
</div>
