<!-- INFORMACION DE PRODUCTOR -->
<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Información del Productor </h1>
</div>
<hr>

<div class="row">
  <div class="col-xl-2 col-l-3">
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Rut: {{ckuEnt.rut}}</mat-label>
      <input #rutInput matInput maxlength="9" [ngModelOptions]="{standalone: true}" (change)="formatoRut()"
        [(ngModel)]="rut" disabled="true">
    </mat-form-field>
    <p class="textoMostrado">Productor: {{ckuEnt.cod_productor}}</p>  
  </div>

  <div class="col-xl-2 col-l-3">
    <p class="textoMostrado">Huerto: {{ckuEnt.huerto}} </p>
    <p class="textoMostrado">CSG: {{ckuEnt.csg}}</p>
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-radio-group disabled="true">
      <mat-label class="textoTitulos d-block">Modo pesaje</mat-label>
      <mat-radio-button value="1" class="d-inline ml-2">Especie </mat-radio-button>
      <mat-radio-button value="2" class="d-inline ml-2">Variedad</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<br>

<!-- INFORMACION GUIA -->
<div class="col-12">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i>Información Guía</h1>
</div>
<hr>
<div class="row">
  <div class="col-xl-2 col-l-3">
    <p class="textoMostrado">Nº Guía recepción: {{ckuEnt.guia_productor}}</p>
    <mat-form-field appearance="fill">
      <mat-label>Guía SII: {{ckuEnt.guia_sii}}</mat-label>
      <input matInput disabled="true">
    </mat-form-field>
    <p class="textoMostrado">Frigorífico: {{ckuEnt.cod_frigorifico}}</p>
  </div>

  <!-- Fechas -->
  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Cosecha: {{ckuEnt.fec_cosecha}}</mat-label>
      <input matInput [matDatepicker]="picker" disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Despacho: {{ckuEnt.fec_despacho}}</mat-label>
      <input matInput [matDatepicker]="picker2" disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Recepción: {{ckuEnt.fec_recepcion}}</mat-label>
      <input matInput [matDatepicker]="picker3" disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>
</div>