
 /* ##### Estilos Generales ##### */
html, body {
  height: 100%;
  background-color:rgb(248, 248, 248);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0
}

html{
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.containerPrincipal{
  margin-left: 5em;
  margin-right: 3em;
  padding-top: 11em;
  padding-bottom: 11em;
  height: 100%;
}

/* @media (max-width: 620px) {
  .containerPrincipal{
    padding-top: 10em;
  }
} */

@media (max-width: 450px) {
  .containerPrincipal{
    padding-top: 9em;
    margin-left: 4.2em;
    margin-right: 0.5em;
  }
}

/*BOTON PARA AÑADIR A FAVORITOS*/
.addToFavorites{
  position: absolute;
  right: 0;
  color: gray;
  background:transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.addToFavorites mat-icon{
  font-size: 1.4em;
}

.addToFavorites .active{
  color: rgb(207, 159, 1);
}

/* ##### Botones Flotantes ##### */
.btn-plus {
  position: fixed;
  bottom: 2.5em;
  right: 1.5em;
}

.btn-plus2 {
  position: fixed;
  bottom: 2.5em;
}

.btn-add{
  color: white !important;
  outline: none;
}

.btn-volver{
  color: white;
  outline: none;
}

.mat-select-panel{
  max-height: 100% !important;
}

/*BARRA DE NAVEGACION SUPERIOR*/
.row {
  width: 100%;
}

.header {
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: 2000;
}

.headerBar {
  background-image: url(/assets/img/bannerunifrutti.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 10em;
  width: 100%;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 1000;
  position: fixed;
  top: 0;
}

.bgWhite {
  height: 10em;
  float: left;
  width:20em;
  background-image: url(/assets/img/infra.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  z-index: 1000;
  position: fixed;
  -webkit-box-shadow: 6px 3px 22px 1px rgba(0,0,0,0.79);
  -moz-box-shadow: 6px 3px 22px 1px rgba(0,0,0,0.79);
  box-shadow: 6px 3px 22px 1px rgba(0,0,0,0.79);
}

.bgLogo{
  height: 10em;
  float: right;
  width:10em;
  z-index: 1000;
  position: fixed;
}

.logoPall{
  width: 10em;
  right: 1em;
  top:3.5em;
  position: absolute;
}

.datosNavbar2{
  right: 5px;
  top:5px;
  position: absolute;
}
.datosNavbar2 p{
  font-size: 14px;
  color: rgb(218, 216, 216);
  margin-bottom: 0 !important;
}

.nombreUsuarioNavbar{
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.user_y_button{
  right: 0;
  top: 7em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.user_y_button p{
  margin-bottom: 0 !important; 
  margin-right: 2px;
}

.btn-config:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.fa-user-cog{
  color: white;
  font-size: 1.1em;
}

.logoNavbar{
  height: 75%;
  margin-top: 1.2em;
  cursor: pointer;
}

.buttonsMenu{
  margin-left: 22em;
  margin-right: 10em;
  margin-top: 4vw;
}

.btnSearch{
  background: transparent;
  border: none;
  margin-left: 0.5em;
}
.inputSearch{
  border-radius: 5px;
  width: 1em;
  border: none;
  background: url("/assets/img/iconbuscar.png") no-repeat 0 0 transparent;
  background-position: center;
  background-size: 100%;
  color: white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.inputSearch:focus {
  width: 10em;
  border: 0.5px solid white;
  outline: none;
  background: transparent;
}
.srch{
  color: white;
}
.firstText{
  margin-top: 17em;
}
.btnMenu{
  background: transparent;
  color: white;
  font-weight: 500;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
  margin-right: 0.5em;
  outline: none;
}
.logouni{
  position: fixed;
  width: 5em;
}

/*ESTILOS PARA NAVEGACION LATERAL*/

.rotar {
  -webkit-transform: rotate(-90deg);
  position: absolute;
  letter-spacing: 0.3em;
  justify-items: center;
  vertical-align: middle;
  left: -7em;
  color: white;
  font-size: 1.7em;
  width: 16em;
  bottom: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
}
.fa-2x {
  font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
.main-menu:hover,nav.main-menu.expanded {
width:260px;
overflow:visible;
}
.main-menu {
background:#202F58;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .1s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index: 50;
cursor: pointer;
}
.main-menu>ul {
margin: 60px 0;
}
.main-menu li {
position:relative;
display:block;
width:250px;
}
.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color: white;
font-family: arial;
font-size: 12px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
margin-left: 4.8em;
margin-bottom: 0.5em;
}
.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
overflow: auto;
color: white;
/*word-break: break-all;*/
}
.main-menu>ul.logout {
position:absolute;
left:0;
bottom: 0;
}
.no-touch .scrollable.hover {
overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}
a:hover,a:focus {
text-decoration:none;
}
nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#029EE4;
}

.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.fa-power-off{
  margin-top: 0.5em;
  color: white;
}


/*ESTILOS DEFINITOS PARA TODAS LAS TABLAS*/
table {
  width: 100%;
  overflow-x: auto !important;
  font-size: 14px !important;
}

table tbody .mat-row:hover {
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005);
  transition: all .3s ease-in-out;
}

th.mat-header-cell{
    font-size: 12px;
    color: rgb(65, 65, 65);
    font-weight: bold;
    background-color: rgba(212, 222, 226, 0.4); 
  }
  
td.mat-cell{
    font-size: 12px;
  }

/* MEDIA QUERIES PARA RESPONSIVE*/
@media (max-width: 950px) {
.bgWhite{
    width: 18em;
}
.buttonsMenu{
  margin-left: 19em;
  margin-right: 5em;
}
  .rotar{
  font-size: 1.5em;
  left: -7em;
}
  .logoPall{
  content: url(/assets/img/icon.png);
  width: 4em;
}
  .btnMenu{
  font-size: 0.9em;
}
  .inputSearch{
      font-size: 0.9em;
  }
}
@media (max-width: 750px) {
.bgWhite{
    width: 15em;
    height: 9em;
}
.headerBar{
    height: 9em;
}
.buttonsMenu{
  margin-left: 16em;
  margin-right: 3em;
}
  .btnMenu{
  font-size: 0.8em;
}
  .inputSearch{
      font-size: 0.8em;
  }
  .firstText{
  margin-top: 14em;
}
  .logoPall{
  width: 3em;
  top:3em;
}
.user_y_button{
  top: 6em;
}
}
@media (max-width: 610px) {
.bgWhite{
    width: 11em;
    height: 8em;
  }
.headerBar{
    height: 8em;
   }
 .buttonsMenu{
  margin-left: 11em;
  margin-right: 2.5em;
  }
  .rotar{
  font-size: 1.4em;
  left: -6.8em;
}
  .logoPall{
  width: 2.5em;
  top: 2.5em;
  right: 0.5em;
}
.user_y_button{
  top: 5em;
}
.datosNavbar2 p{
  font-size: 10px;
}
.nombreUsuarioNavbar{
  font-size: 10px;
}
.fa-user-cog{
  font-size: 0.8em;
}

}
@media (max-width: 550px) {
.bgWhite{
    width: 10em;
}

 .buttonsMenu{
  margin-left: 11em;
  margin-right: 2em;
  }
  .btnMenu{
      font-size: 0.7em;
  }
  .inputSearch{
      font-size: 0.7em;
  }


}
@media (max-width: 470px) {
.bgWhite{
    width: 6em;
    height: 8em;
}
.headerBar{
    height: 8em;
}
 .buttonsMenu{
  margin-left: 6em;
  margin-right: 1.2em;

}
  .btnMenu{

  margin-right: 0;
}
  .logoNavbar{
  height: 55%;
  margin-top: 2em;
}
  .rotar{
  font-size: 1.2em;
  left: -6.5em;
}
.logoPall{
  width: 2em;
  top: 2.5em;
  right: 0;
}
.user_y_button{
  right: -10px;
}

.user_y_button p{
  margin-right: 0;
}
}
@media (max-width: 380px) {
  .inputSearch{
  font-size: 0.7em;
}
  .firstText{
  margin-top: 13em;
}
.btnMenu{
  font-size: 0.6em;

}
.buttonsMenu{
  margin-top: 2vw;
}

}



