<h2 mat-dialog-title align="center">¿Cerrar la sesión?</h2>
<mat-dialog-actions align="center">
  <button color="accent" mat-raised-button (click)="cerrarSesion()">SI</button>
  <button color="primary" mat-raised-button mat-dialog-close>NO</button>
</mat-dialog-actions>