<div class="text-center" *ngIf="!mostrarActividades && esCreacion">
  <mat-form-field appearance="outline" class="btn-ing-patente mt-2">
    <input matInput placeholder="Buscar recepciones pendientes" (keyup)="filtrar($event.target.value)">
    <mat-icon class="icono-buscar">search</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="encontrado && !cargando && esCreacion">
  <!-- Aqui hacer una lista del filtro -->
  <table mat-table [dataSource]="dataSource" class="table table-hover">
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element"> {{element.id_codigo_recvehiculo}} </td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef>Patente</th>
      <td mat-cell *matCellDef="let element"> {{element.id_Patente_snapClienteVehiculo}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
    </ng-container>
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let element"> {{element.des_modelo_modelo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="seleccion(row)"></tr>
  </table>
</div>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

<div class="contenedorTabla" *ngIf="mostrarActividades && !cargando">
  <mat-form-field class="selectFecha mt-2">
    <mat-select placeholder="Estado OT" [(ngModel)]="cod_estado" name="cod_estado" (selectionChange)="obtenerEstadoOT($event.value)">
      <mat-option class="opciones" *ngFor="let estado of estadosOT" [value]="estado.cod_estadoservicio_estadoservicio">
        {{estado.des_estadoservicio_estadoservicio}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- select fecha -->
  <mat-form-field class="selectFecha mt-2" disabled="true">
    <input matInput [disabled]="true" [matDatepicker]="picker" placeholder="Fecha de OT" [(ngModel)]="fechaOT" [attr.disabled]="disabled ? '' : null">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <table mat-table [dataSource]="dataSourceActividad" class="table table-hover">
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción Actividad</th>
      <td mat-cell *matCellDef="let element"> {{element.des_tarea}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element"> {{element.num_valor_snapTareaActVehi}} </td>
    </ng-container>

    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef>Responsable</th>
      <td mat-cell *matCellDef="let element"> {{element.des_nombrecompleto}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
    </ng-container>

    <ng-container matColumnDef="programada">
      <th mat-header-cell *matHeaderCellDef>¿Es mantención programada?</th>
      <td mat-cell *matCellDef="let element"> {{element.bit_programada_detTareaManVehi}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAct"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAct;" (click)="seleccionActividad(row)"></tr>
  </table>
</div>








<!-- boton que aparece en primera tabla de crear ot (la que tiene buscador-->
<button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="['/ordentrabajo/listado_ot']">
  <mat-icon>arrow_back</mat-icon>
</button>

<button mat-fab title="Finalizar" *ngIf="mostrarActividades" class="btn-finalizar" (click)="finalizar()">
  <mat-icon>check</mat-icon>
</button>