.btn-ing-patente ::ng-deep.mat-form-field-infix{
    border-top: 0;
    padding: 11px 0 8px 0;
}

:host ::ng-deep.table thead th{
    vertical-align: middle !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    color: rgb(26, 25, 25);
}

:host ::ng-deep.table td, .table th{
    vertical-align: middle !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
   color:  rgba(82, 14, 76, 0.3);
}

.btn-ing-patente{    
    font-size: 14px;
    width: 98vw;
}

.tarjeta{
    margin: auto;
    max-width: 98vw;
    padding: 1% !important;   
}

.contenedorTabla{
    justify-content: center;
    justify-items: center;
    font-size: 14px;
}

.table{
    max-width: 98vw;
    margin: auto;
    border: 1px solid rgb(180, 180, 180, 0.5);
}

 tr.mat-row:hover{
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005); 
  transition: all .3s ease-in-out;
}

.selectFecha{
    font-size: 14px;
    margin-left: 1.5em;
}

.icono-buscar{
    color: gray;
    position: absolute;
    right: -0.1em;
    bottom: 0.1em;
    font-size: 20px;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

.btn-volver{
  position: fixed;
  bottom: 2.5em;
  left: 2.5em;
  color: white;
  outline: none;
}

.btn-finalizar{
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  color: white;
  outline: none;
  display: inline;
  background-color: #689F38 !important;
}

