
<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="tituloDialog d-inline">Definición de Rol</h2>
</div>
<br>
<div mat-dialog-content class="text-center">
  <mat-form-field class="mt-1">
    <mat-label>Código</mat-label>
    <input matInput [disabled]="_editando" [(ngModel)]="_codigo">
  </mat-form-field>

  <mat-form-field class="mt-1">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="_nombre">
  </mat-form-field>

  <mat-form-field class="mt-2">
    <mat-label>Password</mat-label>
    <input type='password' matInput [(ngModel)]="_clave">
  </mat-form-field>
<br>
  <mat-radio-group [(ngModel)]="_activo">
    <mat-label>Activo</mat-label>
    <mat-radio-button value="1" class="d-inline ml-2">Sí </mat-radio-button>
    <mat-radio-button value="2" class="d-inline ml-2">No </mat-radio-button>
  </mat-radio-group>
</div>

<div mat-dialog-actions class="justify-content-center mt-1 text-center">
  <button mat-fab (click)="onClick()" cdkFocusInitial title="Aceptar" class="btn-check">
    <mat-icon>check</mat-icon>
  </button>
</div>