/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body{
    margin: 0;
    padding: 0.6em 0.6em;
    background: lightgray;
}