<div *ngIf="home">
  <mat-sidenav-container class="toolbar-container">
    <mat-sidenav #sidenav [mode]="mode.value">
      <button mat-icon-button class="btn-cerrar-menu" (click)="sidenav.toggle()"><i class="fas fa-arrow-left"></i></button>

      <button mat-button (click)="sidenav.toggle()" class="btn-opcion1 d-block" [routerLink]="[ '/Home']"><i class="fas fa-home icons"></i>
        Home</button>
      <button mat-button (click)="sidenav.toggle()" class="btn-opcion d-block" [routerLink]="[ '/recepcion/listado_recepcion']"><i class="fas fa-file-signature icons"></i>
        Recepción</button>
      <button mat-button (click)="sidenav.toggle()" class="btn-opcion d-block" [routerLink]="[ '/ordentrabajo/listado_ot']"><i
          class="fas fa-file-contract icons"></i>
        Orden de trabajo de vehículos</button>
      <button mat-button (click)="sidenav.toggle()" class="btn-opcion d-block" [routerLink]="[ '/']"><i class="fas fa-file-alt icons"></i>
        Reportes</button>

      <button mat-button (click)="cerrarSession()" class="btn-cerrarSesion"><i class="fa fa-power-off fa-2x icons"></i>
        Cerrar Sesion</button>
    </mat-sidenav>

    <mat-sidenav-content>
      <header class="toolbar">
        <button mat-icon-button class="btn-menu d-inline" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/img/logo_sin_fondo.png" class="logoMagicCard" alt="">
        <img src="assets/img/logopallmorado.png" class="logoPall" alt="">
      </header>

      <div class="contenedorRouter">
         <router-outlet></router-outlet>
      </div>
    

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-login *ngIf="!home"></app-login>