.mat-sidenav{
    background-image: url(/assets/img/sidenav2.jpg)
}

.btn-cerrarSesion{
    width: 100%;
    background-color: rgb(31, 31, 31, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    position:absolute;
    bottom: 20px;
    outline: none;
}

.logoMagicCard{
    width: 8em;
    right: 1em;
    position: absolute;
}

.logoPall{
    width: 10em;
    left: 3em;
    top: 1em;
    position: absolute;
}
/*estilo para boton de menu*/
.mat-icon-button{
    margin-left: 15px;
    outline: none;
}

/*estilo para boton de cerrar sesion*/
.mat-button{
    border-radius: 0 !important;
}

.icons{
    font-size: 1.2em;
    margin-right: 5px;
}

/*boton de opciones en menu*/
.btn-opcion{
    width: 100%;
    background-color: rgb(31, 31, 31, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 2px;
    text-align: left;
}
.btn-opcion1{
    width: 100%;
    background-color: rgb(31, 31, 31, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 2px;
    margin-top: 5em;
    text-align: left;
}

.btn-cerrar-menu{
    color: white;
    margin-top: 1em;
}


.primeraOpcion{
    margin-top: 12em;
}

