<!-- Animacion de entrada -->
<div @show> 
    <!-- Toolbar principal -->
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span *ngIf="!mostrarMapa">
                <button matTooltip="Volver al mapa" mat-button mat-icon-button (click)="mostrarDashboard()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </span>
            <span *ngIf="mostrarMapa" ><mat-icon matTooltip="Mapa">map</mat-icon></span>
            <span>{{ titulo }}</span>
            <span>
                <button matTooltip="Dashboards" mat-icon-button (click)="obtenerDashboards()">
                    <mat-icon>
                        dashboard
                    </mat-icon>
                </button>
                <button matTooltip="Actualizar" mat-icon-button (click)="actualizar()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button matTooltip="Menú" mat-icon-button [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </span>
        </mat-toolbar-row>    
    </mat-toolbar>
    <!-- Sub menu -->
    <mat-menu x-position="before" #menu="matMenu">
        <button (click)="dialogoLogOut()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Cerrar sesión
        </button>
    </mat-menu>
    <!-- Contenedor principal -->
    <div class="contenedor">
        <!-- <mat-card class="card1"> 
            <div  class="grafico1">
            <h3 align="center">{{ tit_gra1}}</h3>
                <canvas baseChart *ngIf="gra1_data.length > 0"
                    [data]="gra1_data"
                    [labels]="gra1_labels"
                    [chartType]="pieChartType"
                    [options]="opciones"
                    (chartClick)="graficoClick($event)">
                </canvas>
            </div>
            <br>
            <div class="grafico2">
                <h3 align="center">{{ tit_gra2 }}</h3>
                    <canvas baseChart *ngIf="gra2_data.length > 0"
                        [data]="gra2_data"
                        [labels]="gra2_labels"
                        [chartType]="pieChartType"
                        [options]="opciones">
                    </canvas>
            </div>
        </mat-card>-->
        <div *ngIf="mostrarMapa" class="mapa" >
            <!-- Mapa -->
            <agm-map 
                [mapTypeId]="'hybrid'"
                [styles]="estiloMapa"
                [zoom]="zoom" 
                [streetViewControl]="false"
                [latitude]="lat"
                [longitude]="lng">
            <!-- Poligonos Predio -->
            <agm-polygon 
                [editable] = "false" 
                [polyDraggable]="false" 
                [fillColor]="'#006400'"
                [strokeColor]="'#DC143C'"
                [paths] = "predios">
            </agm-polygon>
            <!-- Poligonos Cuarteles -->
            <agm-polygon 
                [editable] = "false" 
                [polyDraggable]="false" 
                [strokeColor]="'#006400'"
                [fillColor]="'#DC143C'"
                [paths] = "cuarteles">
            </agm-polygon>
            <!-- Markers -->
            <agm-marker 
                *ngFor="let m of arregloCoords; let i = index"
                        [latitude]="m.Latitude"
                        [longitude]="m.Longitude"
                        [iconUrl]="'assets/images/farm.png'"
                        [label]="m.Nombre">
                        <!-- Info window -->
                        <agm-info-window
                            [isOpen]="false"
                            [maxWidth]="600">
                                <!-- <ng-template align="center"> -->
                                <div>
                                    <strong>Cuartel: </strong> {{ m.Titulo | uppercase }} <br/>                           
                                    <strong>Hectáreas: </strong>{{ m.Hectareas }} <br/>
                                    <strong>Número Plantas: </strong>{{ m.NumeroPlantas }} <br/>
                                    <strong>Distancia Plantas: </strong> {{ m.DistanciaPlantas }} <br/>                           
                                    <strong>Predio: </strong> {{ m.NombrePredio | uppercase }} <br/>                           
                                    <strong>Variedad: </strong> {{ m.NombreVariedad | uppercase }} <br/>                               
                                    <strong>Especie: </strong> {{ m.NombreEspecie | uppercase }} <br/>                           
                                    <br/>
                                    <button matTooltip="Costos, ingresos y balance" color="accent" mat-raised-button (click)="mostrarDashboard(m.IdCuartel)">
                                        <mat-icon >info_outline</mat-icon>
                                        Más Información
                                    </button>
                                </div>
                                <!-- </ng-template> -->
                        </agm-info-window>
            </agm-marker>
        </agm-map>
        </div>
        <!-- Tabs con Dashboards -->
        <div class="dashboards" *ngIf="!mostrarMapa" >
            <mat-card>
                <div>
                    <mat-tab-group color="primary" (selectedTabChange)="tabsCambio($event)">
                        <mat-tab label="Costos">
                            <iframe class="frame" marginwidth="0" frameborder="0" scrolling="yes"
                                    style="top: 0;left: 0;width: 100%;"
                                    [src]="url">
                            </iframe>
                        </mat-tab>
                        <mat-tab label="Ingresos">
                            <iframe class="frame" marginwidth="0" frameborder="0" scrolling="yes"
                                style="top: 0;left: 0;width: 100%;"
                                [src]="url">
                            </iframe>
                        </mat-tab>
                        <mat-tab label="Balance">
                            <!-- <div mat-dialog-content  class="popup"> -->
                            <iframe class="frame" marginwidth="0" frameborder="0" scrolling="yes"
                                style="top: 0;left: 0;width: 100%;"
                                [src]="url">
                            </iframe>
                            <!-- </div> -->
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card>
        </div>
    </div>
</div>