agm-map {
    align-self: flex-end;
    width: 100%;
    height: 91vh;
}

mat-toolbar-row {
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.frame{
    min-height: 80vh !important;
    height: 80vh !important;
}

.dashboards{
    /* flex: 100%; */
    width: 100% !important;
    /* order: 1; */
    min-height: 80vh !important;
    height: 80vh !important;
}

.contenedor{
    width: 100%;
    align-self: auto;
    margin: 0px auto 0 auto;
    display: flex;
    height: 91vh !important;
}

.card1{
    flex: 30%;
    padding: 2px;
    width: 50vh;
    height: 91vh;
}

.grafico1{
    padding: 0px;
    height: 30vh;
}

.grafico2{
    padding: 0px;
    height: 30vh;
}

.mapa{
    flex: 100%;
    height: 91vh;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}