<header class="headerBar">
  <div class="row">
    <div class="col-12">
      <div class="bgWhite text-center d-inline-block">
        <img src={{urlLogoEmpresa}} alt="" class="img-fluid logoNavbar" (click)="onNavigate()">
      </div>
      <div class="buttonsMenu">
        <!-- <a *ngFor="let menu of menuSuperior" (click)="verificarRuta(menu)" routerLink="/{{menu.path}}">
          {{ menu.nombre }}
        </a> -->
        <div *ngFor="let menu of menuSuperior" class="d-inline">
          <button class="btnMenu" (click)="verificarRuta(menu)">{{ menu.nombre }} </button>
        </div>
        <span class="btnSearch"><input type="text" class="inputSearch" placeholder="      Palabra clave"></span>
      </div>
      <img src={{urlLogoPall}} class="img-fluid logoPall" alt="">
    </div>
  </div>
</header>
