<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>Control de pesos</h1>
<!-- SLIDE PARA ELEGIR TIPO DE PESAJE -->
<div *ngIf="mostrarPeso === '0'">
  <span>Por Romana <mat-slide-toggle (toggleChange)="onToggleChange($event)" [ngClass]="{'active': isActive}">Por pesas
    </mat-slide-toggle></span>
  <hr>

<!-- <div class="col-3">
  <mat-checkbox class="mt-4" style="font-size:11px;" color="primary">Peso manual</mat-checkbox>
</div> -->

  <!-- PESAJE POR ROMANA -->
  <div mat-dialog-content class="text-center" *ngIf="controldepeso">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Nº Recepción:</mat-label>
          <input matInput disabled="true" value="18">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Especie</mat-label>
          <mat-select (selectionChange)="selEspecie($event.value)" #refEspecie  [(ngModel)]="especie" >
              <mat-option *ngFor="let especie of especies"  [value]="especie.id"> {{especie.nombre}} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>SDP</mat-label>
            <mat-select [(ngModel)]="sdp" >
              <mat-option value="42279">42279</mat-option>
              <mat-option value="42309">42309</mat-option>
              <mat-option value="43998">43998</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="col-6 text-center">
        <mat-form-field>
          <mat-label>Produtor: </mat-label>
          <input matInput disabled="true" value="Agricola Palomar LTDA.">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Variedades</mat-label>
          <mat-select (selectionChange)="selVariedad($event.value)" #refVariedad [(ngModel)]="variedad" >
              <mat-option [value]="variedad.id" *ngFor="let variedad of variedades "> {{ variedad.nombre }} </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Fecha cosecha: </mat-label>
          <input matInput value="19/11/2018">
        </mat-form-field>
        <br>
      </div>
    </div>


    <!-- tipo contenedor  -->
    <div class="row mt-2">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Tipo contenedor</mat-label>
          <mat-select (selectionChange)="selContenedor($event.value)">
              <mat-option [value]="contenedor.id" *ngFor="let contenedor of contenedores "> {{ contenedor.nombre }} </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- tabla envases -->
    <table style="width:100%">
      <tr>
        <th></th>
        <th>Tipo</th>
        <th>Envase</th>
        <th>Config.</th>
        <th>Tara</th>
        <th>Cant. Unifrutti</th>
        <th>Cant. Otros</th>
        <th>Total</th>
      </tr>
      <tr  *ngFor="let detCont of detContenedores">
          <th>
            <mat-checkbox [(ngModel)]="detCont.check"></mat-checkbox>
          </th>
          <td >{{detCont.nombre}}</td>
          <td>{{detCont.tipo}}</td>
          <td>{{detCont.configuracion}}</td>
          <td><input value="43"  [(ngModel)]="detCont.tara" class="inputValoresEnvases"></td>
          <td><input  [(ngModel)]="detCont.cantEnvasesUni" type='number' class="inputValoresEnvases"></td>
          <td><input  [(ngModel)]="detCont.cantEnvasesOtros"  type='number' class="inputValoresEnvases"></td>
          <td>{{ (detCont.cantEnvasesUni) + (detCont.cantEnvasesOtros)  }}</td>
        </tr>
    </table>
    <hr>



<mat-radio-group class="mt-1" [(ngModel)]="elementoPesado">
      <mat-radio-button value="1" class="mr-2">Camión</mat-radio-button>
      <mat-radio-button value="2">Carro</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field class="mt-1">
      <mat-label>Peso desde Romana</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Peso bruto</mat-label>
      <input matInput disabled="true">
    </mat-form-field>
  </div>
</div>



<!-- PESAJE POR PESAS -->
<div mat-dialog-content class="justify-content-center text-center" *ngIf="!controldepeso || mostrarPeso === '1'">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Nº Recepción:</mat-label>
        <input matInput disabled="true" value="18">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Especie</mat-label>
        <mat-select (selectionChange)="selEspecie($event.value)" #refEspecie  [(ngModel)]="especie" >
          <mat-option *ngFor="let especie of especies"  [value]="especie.id"> {{especie.nombre}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>SDP</mat-label>
        <mat-select [(ngModel)]="sdp" >
          <mat-option value="42279">42279</mat-option>
          <mat-option value="42309">42309</mat-option>
          <mat-option value="43998">43998</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-6 text-center">
      <mat-form-field>
        <mat-label>Produtor: </mat-label>
        <input matInput disabled="true" value="Agricola Palomar LTDA.">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Variedad</mat-label>
        <mat-select (selectionChange)="selVariedad($event.value)" #refVariedad [(ngModel)]="variedad" >
          <mat-option [value]="variedad.id" *ngFor="let variedad of variedades "> {{ variedad.nombre }} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Fecha cosecha: </mat-label>
        <input matInput value="19/11/2018">
      </mat-form-field>
      <br>
    </div>
  </div>

  <!-- select de tipo de contenedor -->
  <div class="row mt-2">
    <div class="col-12">
      <mat-form-field appearance="fill">
        <mat-label>Tipo contenedores</mat-label>
        <mat-select (selectionChange)="selContenedor($event.value)">
          <mat-option [value]="contenedor.id" *ngFor="let contenedor of contenedores "> {{ contenedor.nombre }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- tabla con tipos de envases -->
  <table style="width:100%">
    <tr>
      <th></th>
      <th>Tipo</th>
      <th>Envase</th>
      <th>Config.</th>
      <th>Tara</th>
      <th>Cant. Unifrutti</th>
      <th>Cant. Otros</th>
      <th>Total</th>
    </tr>
    <tr  *ngFor="let detCont of detContenedores">


      <th>
        <mat-checkbox [(ngModel)]="detCont.check"></mat-checkbox>
      </th>
      <td >{{detCont.nombre}}</td>
      <td>{{detCont.tipo}}</td>
      <td>{{detCont.configuracion}}</td>
      <td><input value="43"  [(ngModel)]="detCont.tara" class="inputValoresEnvases"></td>
      <td><input  [(ngModel)]="detCont.cantEnvasesUni" type='number' class="inputValoresEnvases"></td>
      <td><input  [(ngModel)]="detCont.cantEnvasesOtros"  type='number' class="inputValoresEnvases"></td>
      <td>{{ (detCont.cantEnvasesUni) + (detCont.cantEnvasesOtros)  }}</td>
    </tr>

  </table>

  <div *ngIf="mostrarPeso === '0'">
    <!-- Cantidad de contenedores a pesar -->
    <div class="text-center mt-3">
      <p class="cantidadPesaje">Cantidad a pesar:</p>
      <input class="kilosPesaje" value="3">
      <p class="binsPesados">Total pesados: <strong style="color: #2969CB;">1/4</strong></p>
    </div>
    <hr>
    <!-- Tabla donde se ingresan/modifican cantidad de contenedores y envases por pesaje -->
    <table style="width:100%">
      <tr>
        <th></th>
        <th>Tipo</th>
        <th>Envase</th>
        <th>Config.</th>
        <th>Tara</th>
        <th>Cant. Unifrutti</th>
        <th>Cant. Otros</th>
        <th>Total</th>
      </tr>
      <tr>
        <th>
          <mat-checkbox></mat-checkbox>
        </th>
        <td>Contenedor</td>
        <td>Bins plástico</td>
        <td>1</td>
        <td><input value="43" class="inputValoresEnvases"></td>
        <td><input class="inputValoresEnvases"></td>
        <td><input class="inputValoresEnvases"></td>
        <td>1</td>
      </tr>
      <tr>
        <th>
          <mat-checkbox></mat-checkbox>
        </th>
        <td>Env. cosecha</td>
        <td>Totem</td>
        <td>24</td>
        <td><input value="0.843436" class="inputValoresEnvases"></td>
        <td><input class="inputValoresEnvases"></td>
        <td><input class="inputValoresEnvases"></td>
        <td>24</td>
      </tr>
    </table>

    <div class="row mt-2">
      <div class="col-12">
        <button mat-icon-button class="btn-calculo"><i class="fas fa-calculator"></i></button>Añadir pesaje
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-6">
        <mat-form-field style="width:6em">
          <mat-label>Peso bruto balanza:</mat-label>
          <input matInput style="font-size:25px; font-weight:600" value="875.64">
        </mat-form-field>
        <strong><span>KG.</span></strong>
      </div>
      <div class="col-6">
        <mat-form-field style="width:6em;">
          <mat-label>Promedio pesaje</mat-label>
          <input matInput class="result-promedios" value="9.51">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-center">
  <button mat-fab (click)="onNoClick()" cdkFocusInitial color="warn" title="Aceptar">
    <mat-icon>check</mat-icon>
  </button>
</div>
