<h1 mat-dialog-title>Cambio de estado</h1>
<div mat-dialog-content>
  <p>Desea Anular Recepción?</p>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="anular()">Si, Anular</button>
  <button mat-button  (click)="cerrar()" cdkFocusInitial>Cancelar</button>
</div>
