<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div>
  <mat-form-field appearance="fill" class="selectxSmall">
    <mat-label>Peso bruto</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectxSmall">
    <mat-label>Linea 1</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectxSmall">
    <mat-label>Variedad 1</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectxSmall">
    <mat-label>Envase</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectxSmall">
    <mat-label>Cantidad</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectxSmall">
    <mat-label>Peso bruto</mat-label>
    <input matInput>
  </mat-form-field>
</div>