
<section class="content home">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <h2>Safe Report
          <small>Bienvenido a SafeReport</small>
        </h2>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 text-right">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Inicio</a></li>
          <li class="breadcrumb-item active">SAG</li>
          <li class="breadcrumb-item active">Inspeccion</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="card">
          <div class="header">
            <div class="body">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2><strong>Sag</strong> Inspeccion</h2>

                      <input class="form-control mb-2 mt-4" type="text" name="search" [(ngModel)]="searchString" placeholder="Buscar....">

                      <ul class="header-dropdown" *ngIf="false">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                          </ul>
                        </li>
                        <li class="remove">
                          <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                      </ul>
                    </div>
                    <!-- BOTONES HEAD -->
                    <!-- <button type="button" class="btn btn-raised btn-primary btn-round waves-effect">GUARDAR</button> -->
                    <!-- <button type="button" class="btn btn-raised btn-danger btn-round waves-effect">BORRAR</button> -->

                    <!-- FORMULARIO -->
                      <div class="body">
                        <div class="row clearfix">
                          <div class="col-md-12">
                            <div class="example-container">

                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Nº Inspeccion</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tipo Inspeccion</th>
                                    <th scope="col">Nº Pallets</th>
                                    <th scope="col">Nº Productores</th>
                                    <th scope="col">Nº Cajas</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of DataSourceLista | filter : searchString | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                    <td>{{ item.N_ins }}</td>
                                    <td>{{ item.fecha }}</td>
                                    <td>{{ item.cod_insp }}</td>
                                    <td>{{ item.count_pallets }}</td>
                                    <td>{{ item.count_productores }}</td>
                                    <td>{{ item.cajas }}</td>
                                    <td class="text-center">
                                      <button type="button" (click)="printReport1(item.N_ins);printReport2(item.N_ins)" class="btn btn-raised btn-default btn-round waves-effect btn-sm">
                                        <span><i class="fas fa-ellipsis-v">&nbsp;</i> Reporte</span>
                                      </button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <p class="mt-4 text-center" *ngIf="DataSourceLista.length == 0 && !cargando">{{ textoMensaje }}</p>
                              <mat-spinner *ngIf="cargando"></mat-spinner>
                              <pagination-controls (pageChange)="p = $event" *ngIf="!cargando && !error"></pagination-controls>


                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- .FORMULARIO -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
