<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  MODIFICACION DE CONTRATO DE COMPRAVENTA DE <br> DERECHOS DE SEPULTACION
</div>

<div>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    En Copiapó, a <b>{{ data[0].DiaReneg }}</b> de <b>{{
      data[0].MesRenegLetra }}</b> de <b>{{ data[0].AnoReneg }}</b>, entre S. A.
    Cementerio Parque de Copiapó,
    representada por doña MARIA ISABEL LARRAIN GOYCOOLEA, chilena, casada, factor de comercio, RUT Nº 6.610.597-0 ,
    ambos domiciliados en Copiapó, Callejón El Palomar N° 1006, en adelante "El Parque" y don(ña) <b>{{ data[0].Nombre
      }}</b>
    <b>{{ data[0].ApPaterno }}</b>
    <b>{{ data[0].ApMaterno }}</b>,
    R.u.t. N° <b>{{ data[0].Rut }}</b>, chileno(a), estado civil <b>{{ data[0].EstCivil }}</b>,
    profesión <b>{{ data[0].Profesion }}</b>,
    en adelante "El Comprador", han convenido lo siguiente:
  </p>
  <p>
    PRIMERO : Que vienen en modificar el Contrato suscrito entre ambas partes, referido a Compraventa de Derechos de
    Sepultación, de fecha <b>{{ data[0].DiaVenta}}</b> de <b>{{ data[0].MesVentaLetra}}</b> de <b>{{ data[0].AnoVenta
      }}</b>,
    con respecto a
    la modalidad de pago expresada en
    la cláusula de precio y modalidad de pago, a la cláusula de carencia de uso del Derecho de Sepultación y la
    cláusula de arbitraje.
  </p>
  <p>
    SEGUNDO : Las nuevas cláusulas modificadas son las siguiente:
  </p>
  <p>
    CLAUSULA DE PRECIO Y MODALIDAD DE PAGO: El saldo de precio del Derecho de Sepultación, objeto de la presente
    modificación, es de UF <b>{{ data[0].ValTotUfNum }}</b> (<b>{{ data[0].ValTotUfLetra }}</b> unidades de fomento) ,
    equivalentes a
    $ <b>{{ data[0].ValTotPesosNum }}</b>
    (<b>{{ data[0].ValTotPesosLetra }}</b> pesos) que "El Comprador" paga y pagará de la siguiente forma:
  </p>

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a) : Con la suma de $ <b>{{ data[0].ValContadoPesosNum }}</b> <b>{{ data[0].ValContadoPesosLetra }}</b>, que "El
    Comprador", paga
    en este acto, al
    contado a "El Parque", quien declara recibir a su entera satisfacción, según consta en el Recibo de dinero N°
    <b>{{ data[0].NumRecibo }}</b>.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    b) : El saldo de $ <b>{{ data[0].SldoPesosNum }}</b> (<b>{{ data[0].SldoPesosLetra }}</b> pesos) será pagado por
    "El Comprador"
    en <b>{{ data[0].CuotasPagNvo }}</b> cuotas
    mensuales y sucesivas, en las cuales se encuentran comprendidos los intereses del <b>{{ data[0].TasaPagNvo }}</b>%
    anual,
    de UF
    <b>{{ data[0].ValCuotaPagNvo }}</b> cada una, con vencimiento los días <b>{{ data[0].DiaPagNvo }}</b> de cada mes,
    a contar del
    mes de <b>{{ data[0].MesPagNvoLetra }}</b>
    de <b>{{ data[0].AnoPagNvo }}</b>.
  </p>
  <p>
    CLÁUSULA DE CARENCIA DE USO: Las partes convienen expresamente en que el Derecho de Sepultación, individualizado en
    la cláusula primera del contrato original de fecha <b>{{ data[0].DiaVenta }}</b> de <b>{{ data[0].MesVentaLetra }}</b>
    de <b>{{
      data[0].AnoVenta }}</b> , no podrá ser usado
    y gozado por "El Comprador" dentro de los 90 días siguientes a la fecha de esta modificación. Con todo, lo anterior
    no tendrá aplicación si "El Comprador" cancelara a "El Parque" el pago de tres cuotas por adelantado.
  </p>
  <p>
    CLÁUSULA DE ARBITRAJE: Cualquier dificultad que se suscite entre las partes con motivo de la validez, cumplimiento
    o interpretación del presente Contrato, o por otra causa cualquiera, será sometida necesariamente al conocimiento y
    resolución de los árbitros Don ALEJANDRO MORENO PROHENS o en su defecto Doña MARIA SOLEDAD MORENO PROHENS o en su
    defecto Doña CAROLINA MORENO JASHES, quienes actuarán en calidad de árbitros arbitradores o amigables componedores,
    sin forma de juicio y fallarán sin ulterior recurso, a los que desde luego renuncian las partes. Si por falta,
    imposibilidad, impedimento o renuncia de cada uno de los árbitros que deban conocer del asunto, según el orden
    recién indicado, no pudiere constituirse o llevarse adelante el arbitraje y las partes no se pusieren de acuerdo en
    la designación de un nuevo árbitro, se recurrirá a la justicia ordinaria para que nombre un árbitro que resuelva
    las dificultades, árbitro que tendrá el carácter de arbitrador en cuanto al procedimiento y de derecho en cuanto al
    fallo. Ese árbitro deberá ser designado entre los abogados que desempeñen o hayan desempeñado el cargo de abogado
    integrante de la Corte de Apelaciones o Consejeros del Colegio de Abogados o Asociación Gremial del Colegio de la
    Orden. Las partes fijan su domicilio en la ciudad de Copiapó y se someten a la jurisdicción de sus Tribunales.
  </p>
  <p>TERCERO : La mora o simple retardo en el pago de una cualquiera de las cuotas del saldo del precio, inhabilitará a
    "El Comprador" para hacer uso del Derecho de Sepultación y lo hará incurrir, a título de multa, en el interés
    máximo convencional para operaciones en moneda nacional reajustables, el que se devengará desde la fecha de
    vencimiento de la cuota respectiva y se calculará sobre el monto de la misma, debiendo pagarse conjuntamente con la
    cuota de capital. Asimismo, y para los efectos contemplados en los artículos 4 y 17 inciso 2º de la Ley Nº 19.628,
    el comprador otorga en este acto su expreso consentimiento para que “El Parque” comunique el hecho de la mora o
    retardo a los organismos públicos o privados responsables del registro y tratamiento de bancos de datos personales,
    ya sea DICOM u otro similar, sin ulterior responsabilidad.
    En caso de mora o simple retardo en el pago de una cuota cualquiera, por más de treinta días contados desde su
    respectivo vencimiento, “El Parque” tendrá derecho a hacer exigible la totalidad del saldo de precio,
    considerándose en tal caso todas las cuotas de plazo vencido y devengándose, a partir del retardo, el interés
    moratorio arriba referido por todo el saldo insoluto.
    Sin perjuicio de lo anterior, en aquellos casos en que existan restos mortales ya sepultados, "El Comprador" tendrá
    un plazo de 60 días contados desde el vencimiento respectivo (o del primero de ellos, si fuere más de una cuota)
    para pagar íntegramente la(s) cuota(s) adeudada(s) o el saldo íntegro del precio, según lo señalado en el párrafo
    precedente; o para exhumar dentro del mismo plazo los restos antes referidos. Para tal efecto, y sin que ello
    constituya una obligación, “El Parque” podrá enviar a “El Comprador” una carta certificada, al domicilio indicado
    en el presente contrato, comunicándole el inicio del plazo para el pago o la exhumación respectiva.
    En todo caso, la mora o simple retardo en el pago de una cualesquiera de las cuotas de pago, por más de 60 días
    contados desde el vencimiento respectivo, dará derecho a “El Parque” para resolver ipso facto y de pleno derecho el
    presente Contrato, pudiendo disponer de inmediato del Derecho de Sepultación y exhumar, en forma directa, los
    restos mortales previa autorización del Servicio Nacional de Salud. En este caso, tales restos serán depositados en
    fosa común si no fueren reclamados dentro del plazo que determine la Dirección de "El Parque", contado desde que se
    produzca la resolución del presente contrato, plazo que se comunicará a "El Comprador" mediante carta certificada
    dirigida al domicilio señalado por "El Comprador" en este contrato. Si los restos mortales fueren reclamados dentro
    del plazo indicado, se estará a lo prescrito por el Artículo 38 del Reglamento General de Cementerios, aprobado por
    Decreto Supremo N° 357 del Ministerio de Salud - que "El Comprador" declara conocer -, derechos que, a su turno,
    sólo podrán ser ejercidos por éste último dentro del plazo de quince días hábiles a contar del reclamo respectivo,
    pagando los derechos correspondientes dentro del plazo indicado. "El Comprador" perderá además, a título de
    avaluación convencional y anticipada de perjuicios, el total de los abonos que hubiere hecho al precio de compra,
    sin derecho a restitución y/o reclamo alguno.
  </p>
  <p>
    CUARTO : Subsisten íntegramente y sin sufrir modificación alguna, las cláusulas restantes del contrato original de
    fecha <b>{{ data[0].DiaVenta }}</b> de <b>{{ data[0].MesVentaLetra }}</b> de <b>{{ data[0].AnoVenta }}</b>.
  </p>
  <p>
    En comprobante y previa lectura firman las partes los dos ejemplares emitidos de esta Modificación de Contrato de
    Derechos de Sepultación.
  </p>
</div>
<br>
<br>
<br>
<br>
<table style="width:100%">
  <tr>
    <td align="center">.......................................................................................</td>
    <td align="center">..........................................................</td>
  </tr>
  <tr>
    <td align="center">p. S.A. CEMENTERIO PARQUE DE COPIAPO</td>
    <td align="center">"EL COMPRADOR"</td>
  </tr>
</table>

<router-outlet></router-outlet>