@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.mat-drawer-transition .mat-drawer-content{
    height: 100vh;
}

mat-sidenav-container{
    background-color: transparent !important;
    /* padding-bottom: 7em; para dar espacio a los botones y no tape la info */
}
.contenedorRouter{
    margin-top: 6em;
    padding-bottom: 7em;
}

.toolbar{
    width: 100%;
    background-image: url('assets/img/toolbar2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6em;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
}

.btn-menu{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.toolbar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}