

body{
	background-color: #e91e63;
	font-family: 'Roboto', sans-serif;
	margin:0px !important;
}

.login-box-body{
	width: auto;
	height:auto ;
	padding: 10% 10% 10% 10%;
}

.card-login {
    padding: 6% 3% 3% 3%;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: auto;
  }
  
.inputs {
    width: 100%;
}

.acciones{
    align-content: flex-end;
}

.principal{
    height: 100%;
    display: flex;
    top: 0;
  }

/* mat-spinner svg { 
    align-content: center;
    width: 20px !important;
    height: 20px !important; 
} */

mat-spinner {
    float: center; 
    width: 24px; 
    height: 24px; 
    margin: 5px 10px 0px 0px;
  }