<div class="col-12">
  <h2 class="tituloDialog d-inline">Subir nuevo documento</h2>
  <button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="justify-content-center text-center mt-4">
  <div>
    <button mat-raised-button>
      <label>
        Elegir archivo <i class="fas fa-search"></i>
        <input type="file" style="display: none" file-handler>
      </label>
    </button>
    <p class="sinArchivo"> Ningún archivo seleccionado</p>
  </div>
<hr>
  <mat-form-field>
    <mat-label>Nombre de archivo</mat-label>
    <input matInput>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select placeholder="Tipo de archivo">
      <mat-option value="option">
        PDF
      </mat-option>
      <mat-option value="option">
        Excel
      </mat-option>
      <mat-option value="option">
        Word
      </mat-option>
      <mat-option value="option">
        Ppt
      </mat-option>
      <mat-option value="option">
        Imagen
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions class="justify-content-center text-center mb-1">
  <button mat-raised-button cdkFocusInitial title="Subir" class="btn-check">
    <i class="fas fa-upload"></i> Subir
  </button>
</div>