drag-scroll {
    height: 270px;
    width: 90%;
    margin: 0px auto;
}

.buscador{
  float: left;
  opacity: 0.5;
  margin-left: 5%;
}

.tituloDocumentos{
    color: #3d3d3d;
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.contenedorPp{
    width: 100%;
    height: 270px;
    margin: 0px auto;
    text-align: center !important;
    padding-top: 1em;
}
  
img{
    width: 40px;
    margin: 0px auto;
    padding-top: 2em;
}

.observacion{
    width: 180px;
    font-size: 12px;
    word-wrap: break-word;
    white-space: normal !important;
    margin: 0px auto;
    padding-top: 20px;
}

.btn_abrir{
    position: absolute; 
    bottom: 2px;
    left: 80px;
}

.btn-carousel-atras{
    color: gray;
    outline: none;
}

.btn-carousel-adelante{
    color: gray;
    outline: none;
}

#app {
    text-align: center;
    color: #2c3e50;
    background: -webkit-linear-gradient(left, rgb(248, 248, 248) 0%, rgb(231, 231, 231) 39%, rgba(231, 231, 231) 51%, rgba(231, 231, 231) 63%, rgb(248, 248, 248) 100%);
}

.tarjeta{
    width: 190px;
    height: 220px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.45);
    margin: 5px;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(248, 248, 248);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    cursor: pointer;  
    outline: none;
    position: relative;
} 

.tarjeta:hover {
    color: white;
    background-color: #202F58;
    box-shadow: 0px 0px 50px #3d3d3d 0.5;
    z-index: 5;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.tarjeta:hover i{
    color: white;
}

@media (max-width: 1000px) {
   
.titleFavoritos{
    margin-top: 2em;
}
}

@media (max-width: 750px) {
   
.tituloDocumentos{
    margin-top: 1em;
}
}

@media (max-width: 430px) {
.tituloDocumentos{
    font-size: 1em;
    margin-top: 0;
}
}