<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ titulo }}</span>
    <span>
      <button matTooltip="Localizar" mat-icon-button (click)="gatillarEvento()">
        <mat-icon>my_location</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="contenedor">
  <agm-map [mapTypeId]="'hybrid'" 
           [zoom]="zoom" 
           [streetViewControl]="false" 
           [latitude]="lat" 
           [longitude]="lng">

          <agm-marker 
                  [latitude]="lat"
                  [longitude]="lng">
                        <agm-info-window
                            [isOpen]="lat" 
                            [maxWidth]="600">
                            <strong>ACTUALIZACIÓN</strong> 
                            <br>
                            <br>
                             {{fechaHora}}
                        </agm-info-window>

          </agm-marker>
  </agm-map>
</div>
