<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div class="text-center contenedor">
  <span><i class="fas fa-exclamation-circle"></i></span>
  <h1 mat-dialog-title class="titulo mt-2">Estás por eliminar la actividad: {{ datos_actividad.des_tarea }} </h1>
  <h2> ¿Estás seguro?</h2>
</div>
<hr>

<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Causa" [(ngModel)]="codigo_causa" >
      <mat-option *ngFor="let causa of lista_causas" [value]="causa.cod_causa"> {{causa.des_causa}} </mat-option>
    </mat-select>
  </mat-form-field>

<textarea name="observacion" placeholder="Observación:" class="text-area" [(ngModel)]="observacion" ></textarea>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="eliminar()">Si, eliminar</button>
</div>

