.contenedor{
    font-size: 14px;
}

.titulo{
    font-size: 16px;
    font-weight: 600;
}

:host ::ng-deep.mat-form-field-wrapper{
    font-size: 14px;
}

.text-area{
    font-size: 14px;
    width: 100%;
    min-height: 8em;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;
}

.fa-exclamation-circle{
    color: rgb(107, 58, 114);
    font-size: 8em;
}


