
  <h3 *ngIf="mostrar2">Asignar nueva patente</h3>
  <h3 *ngIf="mostrar">Agrega nuevo cliente</h3>


<mat-form-field class="example-full-width">
  <input type="text" #rutInput placeholder="Rut Cliente" aria-label="Assignee" matInput 
    [ngModelOptions]="{standalone: true}"  [(ngModel)]="rutCliente" (selectionChange)="changeRutcliente($event.value)"
    name="rutCliente" (change)="formatoRut()">
  <!-- <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="rutCliente">
      {{option.name}} [matAutocomplete]="auto" 
    </mat-option>
  </mat-autocomplete> -->
</mat-form-field>

<div *ngIf="mostrar2">

  <mat-form-field>
    <input matInput placeholder="Patente" [(ngModel)]="patenteNueva" >
    
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Año" [(ngModel)]="ano">
  </mat-form-field>
</div>

<div *ngIf="mostrar2">

  <mat-form-field>
    <mat-select placeholder="Marca" [(ngModel)]="codMarca" name="codMarca" (selectionChange)="obtenerModelo($event.value)">
      <mat-option *ngFor="let mar of marcas" [value]="mar.cod_marca_marca">
        {{mar.des_marca_marca}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Modelo" [(ngModel)]="codModelo" name="codModelo" (selectionChange)="obtenerVersion($event.value)">
      <mat-option *ngFor="let mod of modelos" [value]="mod.cod_modelo_modelo">
        {{mod.des_modelo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Versión" [(ngModel)]="codVersion" name="codVersion" (selectionChange)="obtenerVersionPorModelo($event.value)">
      <mat-option *ngFor="let ver of version" [value]="ver.cod_version_version">
        {{ver.des_version}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Color" [(ngModel)]="codColor" name="codColor" (selectionChange)="obtenerColor($event.value)">
      <mat-option *ngFor="let col of color" [value]="col.cod_color_color">
        {{col.des_color_color}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field>
      <input matInput placeholder="Patente" [(ngModel)]="patenteNueva">
    </mat-form-field>   -->
  <!-- <mat-form-field class="example-ful-width">      
      <input #rutInput type="text" matInput maxlength="9" placeholder="Rut Cliente" aria-label="Assignee" [ngModelOptions]="{standalone: true}" (change)="formatoRut()"
      [(ngModel)]="rutCliente" name="rutCliente" [value]="rutCliente">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="rutCliente">
          {{option.name}}
        </mat-option>
    </mat-form-field> -->
</div>

<div *ngIf="mostrar">

  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="nombreClinte">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Teléfono" [(ngModel)]="telefonoCliente">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección" [(ngModel)]="direccionCliente">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Comuna" [(ngModel)]="codComuna" name="codComuna" (selectionChange)="ListadoComuna($event.value)">
      <mat-option *ngFor="let com of comunaCliente" [value]="com.cod_comuna_comuna" >
        {{com.des_nombre_comuna}}
      </mat-option>
    </mat-select>
  </mat-form-field>  
</div>

<div mat-dialog-actions align="end" *ngIf="mostrar">
<button mat-raised-button (click)="GuardarNuevoCliente()" color="primary" cdkFocusInitial>Grabar</button>
<button mat-raised-button (click)="Volverpantalla()" color="danger" cdkFocusInitial>Volver</button>
</div>

<div mat-dialog-actions align="end" *ngIf="mostrar2">
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button (click)="guardarPatente()" color="primary" cdkFocusInitial>Guardar</button>
</div>