<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div class="text-center">
  <h1 mat-dialog-title class="titulo">{{data.title}}</h1>
</div>
<hr>

<div mat-dialog-content>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of listaEstadoRecepcion">
        <h4 class="text-center titulo">{{ item.des_tituto }}</h4>
        <div class="d-flex flex-row bd-highlight" *ngFor="let it of item.items">
          <div class="p-2 bd-highlight">                                       <!--SI EL BIT_IMPORTANTE ES TRUE COLOCAR *-->
            <mat-slide-toggle [(ngModel)]="it.bit_Estado_vehiculo">{{ it.des_item }} {{it.bit_importante?'*':''}}</mat-slide-toggle> <p> </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <table>
        <tr *ngFor="let item of elementosImportantes">
        <td>{{item}}</td>
         </tr>
        </table> -->
    <!-- *ngfor="let elem of elementosImportantes" -->
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>

<h2 class="color">(*) Estos elementos son importantes de verificar</h2>
<div  align="end">
 
  <!-- <button  mat-raised-button color="danger"  (click)="funcionRecorrer()" cdkFocusInitial>AUXILIAR</button> -->
  <button  mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button  mat-raised-button color="primary"  (click)="guardar()" cdkFocusInitial>Grabar</button>
</div>
