@import '~@angular/material/theming';
@include mat-core();

//color azul principal
$maqueta1-primary: mat-palette($mat-blue,700);
//color azul alternativo
$maqueta1-accent: mat-palette($mat-blue,700);
//color verde para botones y otros
$maqueta1-warn: mat-palette($mat-light-green, 700);



$maqueta1-theme: mat-light-theme($maqueta1-primary, $maqueta1-accent, $maqueta1-warn);

@include angular-material-theme($maqueta1-theme);

