<div class="contenedorAbrirLote">
  <div class="row">
    <div class="col-12">
      <button mat-icon-button class="btnClose" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h1 class="tituloTabla">General </h1>
      <hr>
      <p>Nº de línea</p>
      <div class="row">
        <div class="col-12 text-center">
          <p class="numeroLinea">1</p>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Peso bruto</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
    </div>

    <div class="col-6">
      <h1 class="tituloTabla">Envase Cosecha </h1>
      <hr>
      <mat-form-field class="mr-1">
        <mat-label>Tipo envase</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tara envase</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field class="mr-1">
        <mat-label>Unifrutti</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Otros</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field class="mr-1">
        <mat-label>Total envases</mat-label>
        <input matInput disabled="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Total tara env.</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12 ml-1">
      <mat-card color="primary" class="titleEnvases">Abrir lotes</mat-card>
      <mat-card class="cardRecepcionLinea">
        <mat-form-field appearance="fill" class="selectSmall">
          <mat-label>Especie</mat-label>
          <mat-select>
            <mat-option *ngFor="let especie of especies" [value]="especie.id">
              {{ especie.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="selectSmall">
          <mat-label>Variedad</mat-label>
          <mat-select>
            <mat-option *ngFor="let variedad of variedades" [value]="variedad.id">
              {{ variedad.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="selectxSmall">
          <mat-label>Env. Uni.</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="selectxSmall">
          <mat-label>Cant. Env. otros</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="selectxSmall">
          <mat-label>Total</mat-label>
          <input matInput>
        </mat-form-field>

        <button matButton class="m-1 buttonAdd">
          <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
        </button>
      </mat-card>


      <!-- TABLA GUIA DE RECEPCION -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="1">
          <th mat-header-cell *matHeaderCellDef> Especie</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="2">
          <th mat-header-cell *matHeaderCellDef> Variedad </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="3">
          <th mat-header-cell *matHeaderCellDef> Env Unifrutti </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="4">
          <th mat-header-cell *matHeaderCellDef> Env Otros </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="5">
          <th mat-header-cell *matHeaderCellDef> Bultos </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="6">
          <th mat-header-cell *matHeaderCellDef> Linea </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-center mt-1 text-center">
  <button mat-fab (click)="guardarLoteEditado()" color="warn" cdkFocusInitial title="Aceptar">
    <mat-icon>check</mat-icon>
  </button>
</div>