.contenedorAbrirLote .row{
  width: 100%;
}
table {
  width: 100%;
  min-width: 450px;
}
.cardRecepcionLinea{
  font-size: 12px;
}
.contenedorAbrirLote table{
  margin: 0px auto;
}
.numeroLinea{
  color: rgb(52, 76, 143);
  font-size: 3em;
  font-weight: 600;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}

:host ::ng-deep.mat-vertical-content{
    padding: 0 !important ;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}
/* :host ::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.4em;
  outline: none;
} */

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}

.selectSmall{
  width: 8.7em;
}

.selectxSmall{
  width: 5.5em;
}

@media (max-width: 1400px) {
:host ::ng-deep.mat-form-field-wrapper{
  width: 85%;
}
}

.titleGuia, .titleEnvases{
padding:6px;  
background-color: rgba(126, 144, 196, 0.2);
font-weight: 600;
}

.textoTitulos{
  margin: 0.5em;
  font-weight: 400;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary{
    background-color: rgba(187, 190, 199, 0.2);
    margin: 5px;
}

.buttonAdd{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
}

.buttonAdd .fa-tags{
  font-size: 16px;
  color: darkgoldenrod;
}

.buttonAdd .fa-plus-square{
  font-size: 20px;
}

.btnClose{
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    outline: none;
    float: right;
    right: 0;
}

.btnClose .mat-icon{
  font-size: 14px;
}

.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
    font-weight: 600;
    margin-bottom: 0 !important;
}


