<div class="container-fluid p-0 text-center" @show>
  <div class="row">
    <div class="col-5 p-0 imgLogin">
      <img src={{urlLogoPall}} class="logoUni" alt="">
    </div>

    <form class="col-7 infoLogin" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
      <!-- <div class="col-7 infoLogin"> -->
        <div class="row ml-2">
          <div class="col-12 p-0 text-center">
            <img src={{urlLogoEmpresa}} class="logoLogin" alt="">
          </div>
        </div>

        <div class="row ml-2">
          <div class="col-12 p-0 text-center">
            <!-- <input type="text" class="inputLogin" placeholder=" Ingrese usuario"> -->
            <mat-form-field class="example-full-width widthInputs">
              <input matInput required placeholder="Usuario" [(ngModel)]="_usr" name="_usr" value="">
            </mat-form-field>
          </div>
        </div>

        <div class="row ml-2 mb-4 mt-1 align-center">
          <div class="col-12 p-0 text-center">
            <mat-form-field class="widthInputs">
              <input matInput required placeholder="Contraseña" [(ngModel)]="_psw" name="_psw" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide" class="eye">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!-- <div [innerHtml]="msgError" class="msgError mt-3"></div> -->
        <div class="row ml-2">
          <div class="col-12 p-0 text-center">
            <button class="enter" type="submit"><span class="enterText">INGRESAR</span></button>
          </div>
        </div>
        <!-- <div class="row ml-2">
                <div class="col-12 p-0 text-center">
                  <button class="registry">REGISTRARME</button>
                </div>
              </div> -->
      <!-- </div> -->
    </form>
  </div>
</div>